// colours (using 'color' because of CSS conventions)

$color-blue-dark: #284162;
$color-blue-medium: #335075;
$color-blue-button: #035b99;
$color-blue-link: #0078fb;
$color-yellow: #ffbf47;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #af3c43;
$color-red-light: #f3e9e8;
$color-purple: #7834bc;
$color-grey-light: #cbcbcb;
$color-grey-dark: #6f777b;
$color-grey-footer: #f8f8f8;

// spacing units

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;
$space-xxl: 60px;

// other vars
$height-footer: 80px;
$multiple-choice-padding-left: 40px;
