{% load i18n %}

<form method="post" id="form--{{ request.resolver_match.url_name }}">
  {% csrf_token %}

  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  <div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %}">
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
      <div class="fieldWrapper{% if field.errors %} fieldWrapper--has-error{% endif %}">
          {{ field.label_tag }}
          {% if field.errors %}
            <span class="error--{{ field.html_name }}">{{ field.errors|first }}</span>
          {% endif %}
          {% if field.help_text %}
            <p class="help">{{ field.help_text }}</p>
          {% endif %}
          {{ field }}
      </div>
    {% endfor %}
  </div>

  <button type="submit">
    {% if submit_text %}
      {{ submit_text }}
    {% else %}
      {% trans "Submit" %}
    {% endif %}
  </button>
</form>
