{% load i18n %}

{% if form.errors %}
  <div class="errorlist--container" role="alert">
    <h2 class="errorlist--heading">
      {% trans "Please correct the errors on the page" %}
    </h2>
    <ol class="errorlist">
      {% for key,value in form.errors.items %}
        <li>
        {% if key == '__all__' %}
          <a href="#form--{{ request.resolver_match.url_name }}">
        {% else %}
          <a href="#id_{{ key }}">
        {% endif %}
          {{ value|first }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}