{% load static %}
{% load i18n %}

<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li><a href="#">{% trans "Contact" %}</a></li>
                <li><a href="#">{% trans "Terms and conditions" %}</a></li>
                <li><a href="{% url 'privacy' %}">{% trans "Privacy" %}</a></li>
            </ul>
        </div>
        <div class="canada-wordmark"><img src="{% static 'img/wmms-blk.svg' %}" alt="{% trans 'Symbol of the Government of Canada' %}" /></div>
    </div>
</footer>
