main .announcements {
  &--container {
    font-weight: bold;
    margin-bottom: 20px;
    ul {
      padding-left: 0px;
      list-style-type: none;
      margin-bottom: 0;
      li {
        padding: $space-sm;
        position: relative;

        &.info,
        &.success {
          border-left: 4px solid $color-blue;
          color: $color-blue-dark;
          background: rgba(78, 136, 185, 0.1);
        }
        &.error {
          border-left: 4px solid $color-red;
          color: $color-red;
          background: $color-red-light;
        }
        &.warning {
          border-left: 4px solid $color-yellow;
          color: $color-yellow;
          background: $color-yellow-light;
        }

        .dismiss {
          position: absolute;
          right:0;
          top:0;
          width: 30px;
          height: 30px;
          text-align: center;
        }
        
        .title {
          font-weight:bold;
          font-size:1.1em;
        }
        .content {
          font-weight:normal !important;
        }
        
      }
    }
  }
}
