{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "When patient is ready, generate a key" %}{% endblock %}

{% block content %}
  <a href="{% url 'start' %}" class="chevron-right">{% trans "Go back" %}</a>

  <h1>{% trans "When patient is ready, generate a key" %}</h1>
  <p>
    {% trans "Tell the patient:" %}
  </p>
  <ol class="expanded">
    <li>{% trans "The key expires in 24 hours and they cannot get another one." %}</li>
    <li>{% blocktrans %}<span>To open the app and check they’re connected to the internet.</span><br /><strong>OR</strong><br /><span>To find a safe place to record the key right now.</span>{% endblocktrans %}</li>
  </ol>

  <div class="content-button">
    <p><strong>{% trans "Is this patient ready?" %}</strong></p>
   <form action="{% url 'key' %}" method="post">
    {% csrf_token %}
      <button type="submit">{% trans "Yes, generate key" %}</button>
    </form>
  </div>
{% endblock %}
