{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Give patient this key" %}{% endblock %}

{% block content %}
  {% include  "includes/flash_messages.html" %}
  {% if code.strip != '' %}
      <h1>{% trans "Give patient this key" %}</h1>
      {% include "includes/big-code.html" %}
  {% endif %}

  <details>
    <summary>
      <span>{% trans "Instructions for entering key" %}</span>
    </summary>

    <div>
      <ol class="detailed-instructions">
        <li>
          <span>{% trans "Open the app. At the bottom of the screen, swipe “Tap for menu” for the screen to enter the one time key." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-0-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "Tap “Enter your one-time key”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-1-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "On “Notify people they’ve been exposed”, read the instructions. Then tap “Next”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-2-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "Patients can use capital or small letters to enter the one-time key. Tap “Submit key”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-3-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "Then several screens ask questions. The app uses the answers to calculate when patients were most likely contagious, so it only notifies people they were near at that time." %}</span>
          <br />
          <span>{% trans "If a patient decides not to answer, then the app notifies everyone they were near over the past 14 days." %}</span>
        </li>
        <li>
          <span>{% trans "After patients have either answered questions or decided not to answer,  they need to give COVID Alert permission to upload random codes. Tap “Share exposures” to give permission." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-4-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "The next screen asks permission to share information to notify others. Depending on the phone’s operating system, the screen may describe this in different ways, such as sharing random IDs with COVID Alert. Tap “Share”." %}</span>
          <div>
            <img alt="" src="{% static 'img/instructions/screen-5-'|add:request.LANGUAGE_CODE|add:'.png' %}" />
          </div>
        </li>
        <li>
          <span>{% trans "COVID Alert will ask permission to upload random codes daily for the next 13 days." %}</span>
        </li>
      </ol>
    </div>
  </details>

  <div class="content-button"><a href="{% url 'start' %}" role='button' draggable='false'>{% trans "New patient" %}</a></div>
{% endblock %}
