{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Give patient this key" %}{% endblock %}

{% block content %}
  {% include  "includes/flash_messages.html" %}
  {% if code.strip != '' %}
      <h1>{% trans "Give patient this key" %}</h1>
      {% include "includes/big-code.html" %}
  {% endif %}

  <details>
    <summary>
      <span>{% trans "Instructions for entering key" %}</span>
    </summary>

    <div>
      <p><strong>{% trans "To enter the key, the phone must be connected to the internet." %}</strong></p>
      <br />
      {% include "includes/detailed_instructions.html" %}
    </div>
  </details>

  <div class="content-button"><a href="{% url 'start' %}" role='button' draggable='false'>{% trans "New patient" %}</a></div>
{% endblock %}