{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Check patient received key" %}{% endblock %}

{% block content %}
  {% include  "includes/flash_messages.html" %}
  <h1>{% trans "Check patient received key" %}</h1>

  <div class="otk">{{ request.session.otk.code }}</div>

  <div><p> {% trans "The text takes about 30 seconds to arrive." %} </p></div>

  <details>
    <summary>
      <span>{% trans "Instructions for entering key" %}</span>
    </summary>

    <div>
      <p><strong>{% trans "To enter the key, the phone must be connected to the internet." %}</strong></p>
      <br />
      {% include "includes/detailed_instructions.html" %}
    </div>
  </details>

  <div>
    <strong>Did {{ phone_number }} get the key?</strong>
    <div>
      <input type="radio" id="start" name="otk-sent-next" value="{% url 'start' %}" checked>
      <label for="start">Yes, generate another key</label><br>
      <input type="radio" id="otk_sms" name="otk-sent-next" value="{% url 'otk_sms' %}">
      <label for="otk_sms">No, try different phone number</label><br>
      <input type="radio" id="key" name="otk-sent-next" value="{% url 'key' %}">
      <label for="key">No, read key</label>
    </div>
  </div>

  <div class="content-button"><a id="otk_sms_sent_next" href="{% url 'start' %}" role='button' draggable='false'>{% trans "Next" %}</a></div>

{% endblock %}