{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if request.user.can_send_alerts %}
    {% trans "Now you can give one-time keys" %}
  {% else %}
    {% trans "You’re logged in to give one-time keys" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if request.user.can_send_alerts %}
    <h1>{% trans "Now you can give one-time keys" %}</h1>
  {% else %}
    <h1>{% trans "You’re logged in to give one-time keys" %}</h1>
  {% endif %}
  <p>
    {% trans "People need a key if they’ve:" %}
  </p>
  <ul class="expanded">
    <li>{% blocktrans %}Tested positive for COVID-19, <strong>and</strong>,{% endblocktrans %}</li>
    <li>{% trans "Installed the COVID Alert app on their phone." %}</li>
  </ul>

  <div class="content-button content-section">
    <p><strong>{% trans "Does this person meet both conditions?" %}</strong></p>
    <a href="{% url 'generate_key' %}" role='button' draggable='false'>{% trans "Yes, continue" %}</a>
  </div>

  <div class="content-section">
    <p><strong>{% trans "New or need a refresher?" %}</strong></p>
    <p>{% trans "Visit" %} <a href="{% url 'about:index' %}">{% trans "About the portal" %}</a>.</p>
  </div>
{% endblock %}
