[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
css = "python manage.py sass profiles/static/scss/styles.scss profiles/static/css/"
csswatch = "python manage.py sass profiles/static/scss/styles.scss profiles/static/css/ --watch"
test = "python manage.py test"
format = "black ."
lint = "flake8 ."
serve = "python manage.py runserver"

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
django-sass = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-invitations = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
