[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
css = "python manage.py sass profiles/static/scss/styles.scss profiles/static/css/"
csswatch = "python manage.py sass profiles/static/scss/styles.scss profiles/static/css/ --watch"
test = "python manage.py test"
format = "black ."
lint = "flake8 ."
serve = "python manage.py runserver"

[dev-packages]
flake8 = "*"
freezegun = "*"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
django-sass = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-invitations = "*"
django-otp = "*"
django-otp-yubikey = "*"
newrelic = "*"
django-axes = "*"
django-csp = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
django-otp-notify = "*"
django-cors-headers = "*"
django-easy-audit = "==1.3.0a3"
black = "*"
django-project-version = "*"
django-widget-tweaks = "*"

[pipenv]
allow_prereleases = true
