.static-codes {
  display: inline-block;
  position: relative;
  margin: $space-md 0 $space-lg 0;

  ol {
    font-family: monospace;
    font-size: 1.2em;
    padding-left: 0;
    margin-bottom: 0;
    letter-spacing: 0.05em;
    list-style-type: none;

    column-count: 2;
    column-gap: $space-xl;

    li {
      border: 1px dashed $color-grey;
      padding: 2px $space-xs;
      border-radius: 5px;

      &:not(:last-of-type) {
        margin-bottom: $space-sm;
      }

      &.empty {
        background: $color-grey-light;

        span {
          padding-left: $space-xs;
        }
      }

      [aria-hidden="true"] span:last-of-type {
        padding-left: $space-xs;
      }
    }
  }
}
