#big-code {
  display: inline-block;
  background: #eff4f9;
  padding: $space-md $space-lg;
  margin-bottom: $space-xl;
  border-radius: 10px;
  text-align: left;
  position: relative;

  code {
    display: block;
    font-size: 1.7em;
    margin-bottom: $space-sm;
    letter-spacing: 0.2em;
  }

  hr {
    border: 2px solid;
    color: black;
    width: 40px;
    margin: 20px 0;
  }

  span {
    display: inline-block;
  }
  .phonetic-wrapper {
    font-weight: bold;
    span {
      margin: 5px 0;
    }
  }

  .example-only {
    color: $color-red;
    font-weight: bold;
    max-width: 200px;
    margin-left: auto;
    text-align: left;
    position: absolute;
    right: 10px;
    font-size: 120%;
  }
}

ol.detailed-instructions {
  padding-left: 0;
  list-style-position: inside;

  li {
    margin-bottom: $space-lg;
  }

  img {
    max-width: 100%;
    border: 2px solid $color-grey;
    border-radius: 5px;
    margin: $space-xs 0;

    @include xs {
      max-width: 80%;
    }

    @include sm {
      max-width: 350px;
    }
  }
}
