.big-code {
  display: inline-block;
  background: $color-blue-ultralight;
  border: 2px solid $color-blue;
  padding: $space-md $space-lg;
  margin-bottom: $space-xl;
  border-radius: 10px;
  text-align: left;
  position: relative;

  code {
    display: block;
    font-size: 1.7em;
    margin-bottom: $space-sm;
    letter-spacing: 0.2em;
  }

  hr {
    border: 2px solid;
    color: black;
    width: 40px;
    margin: 20px 0;
  }

  > p:last-of-type {
    margin-top: -$space-xs;
  }

  &__with-example-text {
    padding-top: $space-lg;

    .example-text {
      color: $color-red;
      font-weight: bold;
      margin-left: auto;
      font-size: 110%;
      border: 2px solid $color-red;
      border-radius: 4px;
      padding: $space-xxs $space-xs;
      margin-bottom: $space-md;
    }
  }
}

ol.detailed-instructions {
  padding-left: 0;
  list-style-position: inside;

  li {
    margin-bottom: $space-lg;
  }

  img {
    max-width: 100%;
    border: 2px solid $color-grey;
    border-radius: 5px;
    margin: $space-xs 0;

    @include xs {
      max-width: 80%;
    }

    @include sm {
      max-width: 350px;
    }
  }
}
