form.outbreaks-datetime {
  max-width: 100%;

  select {
    width: 100%;
    display: flex
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
  }

  .col {
    padding-right: .5rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    button {
      margin-top: auto;
    }
  }

  .top-padding-25 {
    padding-top: 25px;
  }


  .content-button {
    margin-bottom: 30px;
  }

  .destructive-link {
    color: $color-red;
  }
}

