{% extends 'base.html' %}
{% load i18n %}
{% load waffle_tags %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Re-send security code" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Re-send security code" %}</h1>
  <p>{% trans "If you did not get the code, we can send it again." %}</p>
  {% include "includes/cds_form.html" with submit_text=_("Re-send security code") %}
  {% switch "BACKUP_CODE" %}
    <a href="{% url 'backup_codes_help' %}">{{ _("Cannot get text messages?") }}</a>
  {% endswitch %}

{% endblock %}
