{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Validate your code" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Enter your log in code" %}</h1>

  {% if view.has_static_code and not view.has_mobile %}
  <p>{% trans "You kept these codes somewhere safe." %}</p>
  {% endif %}

  {% if not view.has_static_code and view.has_mobile  %}
    <p>{% trans "We’ve just sent you a text message with your new code." %}</p>
  {% endif %}

  {% if view.has_static_code and view.has_mobile  %}
    <p>{% trans "You need to enter a new code each time you log in." %}</p>
    <p>{% trans "We’ve just sent a text message with your new code." %}</p>
  {% endif %}

  {% include "includes/cds_form.html" with submit_text=_("Next") form_class="small" %}

  {% if view.has_mobile %}
    <a href="{% url 'resend_2fa' %}">{{ _("Resend log in code?") }}</a>
  {% else %}
    <a href="{% url 'backup_codes_help' %}">{{ _("No log in code?") }}</a>
  {% endif %}

{% endblock %}
