{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Validate your code" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Check your email" %}</h1>
  <p>{% trans "We've sent you an email with a security code to sign in" %}</p>
  {% include "includes/cds_form.html" with submit_text=_("Continue") %}
    <a href="{% url 'resend-2fa' %}">{{ _("Not received an email?") }}</a>
{% endblock %}
