{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Provide patient with code" %}{% endblock %}

{% block content %}
    <h1>{% trans "Provide patient with code" %}</h1>
    <code id="big-code">{{ code }}</code>

    <h2>{% trans "Instructions for patient" %}</h2>
    <ol>
        <li>{% trans "Open the StopCOVID app by tapping on the icon" %}</li>
        <li>{% trans "Tap the white section at the bottom of the screen" %}</li>
        <li>{% blocktrans %}Tap the <strong>Enter code</strong> button{% endblocktrans %}</li>
        <li>{% blocktrans with code|cut:" "|length as code_length %}Enter the following {{ code_length }}-digit code:{% endblocktrans %} <code>{{ code }}</code></li>
        <li>{% blocktrans %}Tap the <strong>Submit code</strong> button{% endblocktrans %}</li>
        <li>{% blocktrans %}Tap the <strong>I agree</strong> button. This will anonymously share the random IDs on your phone.{% endblocktrans %}</li>
        <li>{% blocktrans %}Tap <strong>Share</strong>{% endblocktrans %}</li>
        <li>{% trans "You don’t need to do anything else today. You will receive a notification each day for the next 13 days requesting your permission to share any new random IDs." %}</li>
    </ol>

    <p><a href="{% url 'start' %}">{% trans "Next patient" %}</a></p>
{% endblock %}
