{% extends 'base.html' %}
{% load i18n %}
{% load waffle_tags %}

{% block title %}
    {% if healthcareuser.id == user.id %}
        {% trans "Your account" %}
    {% else %}
        {% trans "User profile" %}
    {% endif %}
{% endblock %}

{% block content %}
  {% if healthcareuser %}
    {% if healthcareuser.id == user.id %}
        <h1>{% trans "Your account" %}</h1>
    {% else %}
        <h1>{% trans "User profile" %}</h1>
    {% endif %}

    <table {% if not view_only %}class="with-actions" {% endif %}>
      <caption class="visually-hidden">{% trans "User profile" %}</caption>
      <tbody>
        <tr>
          <th scope="row">
              {% trans "Name" %}
          </th>
          <td {% if view_only %}colspan="2"{% endif %}>{{ healthcareuser.name }}</td>
          {% if not view_only %}
          <td>
              <a href="{% url 'user_edit_name' healthcareuser.id %}">
                <span class="visually-hidden">
                  {% if request.user.id == healthcareuser.id  %}
                    {% trans "Change your name" %}
                  {% else %}
                    {% trans "Change name" %}
                  {% endif %}
                </span>
                <span aria-hidden="true">{% trans "Change" %}</span>
              </a>
          </td>
          {% endif %}
        </tr>
        <tr>
            <th scope="row">{% trans "Email address" %}</th>
            <td colspan="2">{{ healthcareuser.email }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Mobile phone number" %}</th>
          <td {% if view_only %}colspan="2"{% endif %}>{{ healthcareuser.phone_number.as_e164 }}</td>
          {% if not view_only %}
          <td>
              <a href="{% url 'user_edit_phone' healthcareuser.id %}">
                <span class="visually-hidden">
                  {% if request.user.id == healthcareuser.id  %}
                    {% trans "Change your mobile phone number" %}
                  {% else %}
                    {% trans "Change mobile phone number" %}
                  {% endif %}
                </span>
                <span aria-hidden="true">{% trans "Change" %}</span>
              </a>
          </td>
          {% endif %}
        </tr>
        {% if request.user.is_superuser and request.user.id == healthcareuser.id %}
            <tr>
                <th scope="row">{% trans "Yubikey" %}</th>
                <td {% if request.user.id != healthcareuser.id %}colspan="2"{% endif %}>
                    {{ yubikey|yesno:_("Enabled,Not enabled") }}
                </td>
                {% if request.user.id == healthcareuser.id %}
                    <td>
                        {% if yubikey %}
                            <a href="{% url 'yubikey_delete' yubikey.id  %}">
                                <span>{% trans "Remove your Yubikey" %}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'yubikey_create' %}">
                                <span>{% trans "Register a Yubikey" %}</span>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endif %}
        {% if request.user.id == healthcareuser.id %}
            <tr>
              <th scope="row" colspan="2">{% trans "Password" %}</th>
              <td>
                  <a href="{% url 'user_edit_password' healthcareuser.id %}">
                      <span class="visually-hidden">{% trans "Change your password" %}</span>
                      <span aria-hidden="true">{% trans "Change" %}</span>
                  </a>
              </td>
            </tr>
            {% switch "SECURITY_CODE" %}
            <tr>
              <th scope="row">{% trans "Security Codes" %}</th>
              <td>{{ security_code_count }} {%trans " unused codes remaining" %}</td>
              {% if not view_only %}
              <td>
                  <a href="{% url 'security_code_list' %}">
                    <span class="visually-hidden">

                        {% trans "Get Security Codes" %}

                    </span>
                    <span aria-hidden="true">{% trans "Get Security Codes" %}</span>
                  </a>
              </td>
              {% endif %}
            </tr>
            {% endswitch %}
          {% endif %}
      </tbody>
    </table>

    {% if user.is_admin %}
      <div class="content-button"><a class="secondary" href="{% url 'profiles' %}" role='button' draggable='false'>{% trans "Back to accounts" %}</a></div>
    {% endif %}
  {% else %}
    <p>User not found.</p>
  {% endif %}
{% endblock %}
