{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Confirm delete user" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}
  <p>{% blocktrans with name=profile_user.name email=profile_user.email %}Are you sure you want to delete {{ name }}’s account at “{{ email }}”?{% endblocktrans %}</p>
  <div class="content-button" style="margin-top: -40px;"><a class="secondary" href="{% url 'profiles' %}" role='button' draggable='false'>{% trans "No, keep" %}</a></div>
  {% include "includes/cds_form.html" with submit_text=_("Yes, delete") %}

{% endblock %}
