{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Confirm delete user" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}
  <h1>{% blocktrans with email=profile_user.email %}Are you sure you want to delete the account at {{ email }}?{% endblocktrans %}</h1>
  <p>{% blocktrans with name=profile_user.name %}{{ name }} will not be able to log in and their details will be deleted.{% endblocktrans %}</p>
  <p>{% trans "You can create a new account for them later." %}</p>
  {% include "includes/cds_form.html" with submit_text=_("Yes, delete") submit_class='danger' secondary_action_before=True secondary_action_text=_('No, keep') secondary_action_url='profiles' %}

{% endblock %}
