{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if profile_user.id == user.id %}
        {% trans "Your account" %}
    {% else %}
        {% trans "User account" %}
    {% endif %}
{% endblock %}

{% block content %}
  {% if healthcareuser %}
    {% if healthcareuser.id == user.id %}
        <h1>{% trans "Your account" %}</h1>
    {% else %}
        <h1>{% trans "User account" %}</h1>
    {% endif %}

    <table>
      <caption class="visually-hidden">{% trans "User account" %}</caption>
      <tbody>
        <tr>
          <th scope="row">
              {% if request.user.id == healthcareuser.id  %}
                  {% trans "Your name" %}
              {% else %}
                  {% trans "Name" %}
              {% endif %}
          </th>
          <td scope="col">{{ healthcareuser.name }}</td>
          <td scope="col">
              <a href="{% url 'user_edit_name' healthcareuser.id %}">
                  {% if request.user.id == healthcareuser.id  %}
                      <span class="visually-hidden">{% trans "Change your name" %}</span>
                  {% else %}
                      <span class="visually-hidden">{% trans "Change the name" %}</span>
                  {% endif %}
                  <span aria-hidden="true">{% trans "Change" %}</span>
              </a>
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Email address" %}</th>
          <td scope="col">{{ healthcareuser.email }}</td>
          <td scope="col">
              <a href="{% url 'user_edit_email' healthcareuser.id %}">
                  {% if request.user.id == healthcareuser.id  %}
                      <span class="visually-hidden">{% trans "Change your email" %}</span>
                  {% endif %}
                  <span aria-hidden="true">{% trans "Change" %}</span>
              </a>
          </td>
        </tr>
        <tr>
          <th scope="row">{% trans "Phone number" %}</th>
          <td scope="col">{{ healthcareuser.phone_number.as_e164 }}</td>
          <td scope="col">
              <a href="{% url 'user_edit_phone' healthcareuser.id %}">
                  {% if request.user.id == healthcareuser.id  %}
                      <span class="visually-hidden">{% trans "Change your phone number" %}</span>
                  {% else %}
                      <span class="visually-hidden">{% trans "Change the phone number" %}</span>
                  {% endif %}
                  <span aria-hidden="true">{% trans "Change" %}</span>
              </a>
          </td>
        </tr>
        {% if request.user.id == healthcareuser.id %}
            <tr>
              <th scope="row" colspan="2">{% trans "Password" %}</th>
              <td scope="col">
                  <a href="{% url 'user_edit_password' healthcareuser.id %}">
                      <span class="visually-hidden">{% trans "Change your password" %}</span>
                      <span aria-hidden="true">{% trans "Change" %}</span>
                  </a>
              </td>
            </tr>
        {% endif %}
      </tbody>
    </table>

    {% if user.is_admin %}
      <div class="content-button"><a class="secondary" href="{% url 'profiles' %}" role='button' draggable='false'>{% trans "Back to accounts" %}</a></div>
    {% endif %}
  {% else %}
    <p>User not found.</p>
  {% endif %}
{% endblock %}
