{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Welcome to Generate COVID Alert number" %}{% endblock %}

{% block content %}

  <h1>{% trans "Welcome to Generate COVID Alert number" %}</h1>
  <p>{% trans "The COVID Alert notifies people if they’ve been exposed to COVID-19."%}</p>
  <p>{% trans "If a patient:" %}
  <ul>
    <li>{% blocktrans %}is diagnosed with COVID-19, <strong>and</strong>{% endblocktrans %}</li>
    <li>{% trans "has the app installed on their mobile device" %}</li>
  </ul>
  <p>{% trans "they can enter a COVID Alert number to anonymously notify people they’ve been near in the past 14 days." %}</p>
  <p>{% trans "Only an authorized health care worker can give a COVID Alert number." %}</p>
  <p>{% trans "The patient has 24 hours to enter the number before it expires." %}</p>

  <div class="content-button"><a href="{% url 'login' %}" role='button' draggable='false'>{% trans "Log in" %}</a></div>

  <p>{% trans %}About COVID Alert [hyperlink to site homepage]{% endtrans %}</p>
  {% url 'privacy' as privacy_url %}
  <p>{% blocktrans %}<a href="{{ privacy_url }}">How COVID Alert Portal protects privacy</a>{% endblocktrans %}</p>
{% endblock %}
