{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Privacy" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Privacy notice for COVID Alert Portal" %}</h1>
    {% blocktrans %}
        <ul>
        <li>
            <b>We need your personal information</b> so you can use the portal to generate one-time keys.
        </li>
        <li>
            <b>We log all activity and information in the portal</b>, including:
            <ul>
                <li>each time you generate a key.</li>
                <li>personal information you share with the portal, such as your phone number.</li>
            </ul>
        </li>
        <li>
            <b>We are allowed to use this information</b> under the <em>Department of Health Act</em> and the <em>Financial Administration Act</em>.
        </li>
        <li>
            <b>We’ll only share your personal information if we detect illegal activity.</b> Then we may give your information to law enforcement.
        </li>
        <li>
            <b>You have the right to access, review and correct your personal information.</b> You can correct most information in the portal by yourself.
        </li>
        <li>
            <b>You have the right to complain</b> about how we use your information to the <a href="https://www.priv.gc.ca/en/for-individuals/" target="_blank">Privacy Commissioner of Canada</a>.
        </li>
        </ul>
        <p><b>Questions?</b></p>
        <p>Contact <a href="mailto:hc.AlerteCOVIDAlert.sc@canada.ca">Health Canada</a>.</p>
    {% endblocktrans %}

{% endblock %}
