{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Enter mobile phone number" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Enter mobile phone number" %}</h1>
  {% url 'signup_backup_codes' as signup_backup_codes_url %}
  {% include "includes/cds_form.html" with submit_text=_("Next") secondary_action_url=signup_backup_codes_url secondary_action_text=_("No mobile phone?")  %}
{% endblock %}
