{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Generate a number" %}{% endblock %}

{% block content %}
  <h1>{% trans "Generate a number" %}</h1>
  <p>
    {% trans "Before generating a number, check the patient has:" %}
  </p>
  <ul>
    <li>{% trans "tested positive for COVID-19" %}</li>
    <li>{% trans "the app installed on Andriod or Apple mobile device" %}</li>
  </ul>
  <p>
    {% trans "Tell the patient the number will expire within 24 hours." %}
  </p>
  <div class="content-button"><a href="{% url 'code' %}" role='button' draggable='false'>{% trans "Generate number" %}</a></div>

  <p>
    {% trans "Each code is individual and anonymous." %}<br />{% trans "It cannot be used by another patient. If the number expires before the patient enters it, they’ll need a new number." %}
  </p>
{% endblock %}
