{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Generate a one-time key" %}{% endblock %}

{% block content %}
  <h1>{% trans "Generate a one-time key" %}</h1>
  <p>
    {% trans "For each patient who tests positive for COVID-19, check:" %}
  </p>
  <ol>
    <li>{% blocktrans %}They’ve installed the <strong>app on their phone</strong>.{% endblocktrans %}</li>
    <li>{% blocktrans %}They understand <strong>the key expires in 24 hours</strong>. If the key expires before the patient enters it, they’ll need to ask your office for a new key.{% endblocktrans %}</li>
    <li>{% blocktrans %}They’re ready to <strong>record or write the key</strong> somewhere safe.{% endblocktrans %}</li>
  </ol>
  <div class="content-button"><a href="{% url 'key' %}" role='button' draggable='false'>{% trans "Generate key" %}</a></div>
{% endblock %}
