{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Support" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Support" %}</h1>
    <h2>{% trans "If you cannot log in to the portal" %}</h2>
    <p>{% trans "Ask your administrator for a security code." %}</p>

    <h3>{% trans "If the portal is down" %}</h3>
    <p>{% trans "Follow local procedures for patients who need keys." %}</p>
    <p>{% trans "Public health authorities must determine what to do for:" %}</p>
    <ul>
      <li>{% trans "Situations when an individual healthcare worker cannot use their portal account." %}</li>
      <li>{% trans "System-wide portal outages." %}</li>
    </ul>

    <h3>{% trans "For any other help with the portal" %}</h3>
    {% url 'contact:index' as contact_url %}
    {% blocktrans %}
        <p><a href="{{ contact_url }}">Contact us</a>.</p>
    {% endblocktrans %}

    <h3>{% trans "For help with the app" %}</h3>
    <p>{% trans "Patients can get support by:" %}</p>
    <ul>
      <li>{% trans "Phone:" %} 1-833-784-4397</li>
      <li>{% trans "TTY (text telephone):" %} 1-800-465-7735</li>
      <li>{% trans "Email:" %} <a href="mailto:hc.AlerteCOVIDAlert.sc@canada.ca">hc.AlerteCOVIDAlert.sc@canada.ca</a></li>
    </ul>

    <p>{% trans "Patients can also read about <a href='https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert/help.html' target='_blank'>common support issues</a>." %}</p>
  </div>
{% endblock %}
