{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "User profile" %}{% endblock %}

{% block content %}
  {% if profile_user %}
    <h1>{% trans "User profile" %}</h1>

    <table>
      <caption class="visually-hidden">{% trans "User profile" %}</caption>
      <tbody>
        <tr>
          <th scope="row">{% trans "Name" %}</td>
          <td scope="col">{{ profile_user.name }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Email address" %}</td>
          <td scope="col">{{ profile_user.email }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Province" %}</td>
          <td scope="col">{{ profile_user.province.name }}</td>
        </tr>
      </tbody>
    </table>

    <div class="content-button"><a class="secondary" href="{% url 'profiles' %}" role='button' draggable='false'>{% trans "Back to accounts" %}</a></div>
  {% else %}
    <p>User not found.</p>
  {% endif %}
{% endblock %}
