{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Confirm deletion of Yubikey" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Confirm deletion of Yubikey" %}</h1>
  {% url 'user_profile' user.id as user_profile_url %}
  {% include "includes/cds_form.html" with submit_text=_("Yes, I am sure") submit_class='danger' secondary_action_before=True secondary_action_text=_('No, take me back') secondary_action_url=user_profile_url%}
{% endblock %}
