%button-styles {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1875;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  padding: 9px 18px;
  border-radius: 5px;
  color: $color-white;
  background-color: $color-blue-button;
  border: 2px solid transparent;
  box-shadow: 0 2px 0 black;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
  }

  &:hover {
    background-color: $color-blue-dark;
    border: 4px solid #D0D7DE;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 7px 16px;
  }

  &:focus {
    color: $color-black;
    background: $color-yellow;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    box-shadow: 0 2px 0 $color-grey-dark;
  }

  &:focus:hover {
    padding: 7px 18px;
  }

  &:active {
    top: 2px;
    box-shadow: none;

    &::before {
      top: -4px;
    }
  }

  &[disabled] {
    opacity: 0.6;
    cursor: progress;
  }

  &.secondary {
    color: $color-black;
    background-color: $color-grey-light;
    box-shadow: 0 2px 0 $color-grey-dark;
    border-radius: 5px;

    &:hover {
      background-color: #AAB5C1;
      border: 4px solid #D0D7DE;
      box-shadow: none;
    }
    &:focus {
      background: $color-yellow;
      border: 2px solid transparent;
      padding: 9px 18px;
      box-shadow: 0 2px 0 $color-grey-dark;
    }

    &:focus:hover {
      padding: 9px 18px;
    }
  }
}

main {
  form button {
    @extend %button-styles;
    font-family: "Noto Sans", sans-serif;
  }

  a[role="button"] {
    @extend %button-styles;
  }

  a.danger {
    color: $color-red;
    margin-left: 10px;
  }
  .content-button {
    margin-top: $space-lg;
    margin-bottom: $space-xxl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a[role="button"] + a[role="button"] {
      margin-top: $space-md;
    }

    @include sm {
      display: block;

      a[role="button"] + a[role="button"] {
        margin-top: $space-xs;
        margin-left: $space-xl;
      }
    }
  }
}
