header {
  padding: 0 0 0 0;

  @include sm {
    text-align: right;
  }

  .fip-container {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin-top: $space-md;
    margin-bottom: $space-md;

    @include sm {
      flex-direction: row;
      align-items: center;
    }

    li {
      a,
      button {
        padding: 0 $space-xxs;
        margin-left: -5px;

        @include sm {
          margin: 0;
        }
      }
    }

    button {
      background: none;
      color: $color-blue-dark;
      text-decoration: underline;
      border: 0;
      line-height: 1.65;
      cursor: pointer;
    }
  }

  .canada-flag {
    height: auto;
    max-height: 40px;
    width: 252px;
    margin-bottom: $space-sm;
    margin-right: $space-sm;

    @include xs {
      width: 272px;
    }

    @include sm {
      width: 360px;
      margin-bottom: 0;
    }
  }

  #site-name {
    font-size: 1.5em;
    margin: $space-md 0;
    text-align: left;
  }
}
