p {
  + ul {
    margin-top: -$space-xxs;
  }

  + ul:not(.expanded) {
    @include xs {
      margin-top: -$space-xs;
    }
  }
}

ol,
ul {
  padding-left: $space-lg;

  @include sm {
    padding-left: $space-xl;
  }

  ol,
  ul {
    margin-bottom: 0; /* no extra bottom spacing for nested lists */
  }

  li:not(:last-of-type) {
    padding-bottom: $space-xxs;

    @include sm {
      padding-bottom: 0;
    }
  }

  &.disc {
    list-style-type: disc;
  }

  &.expanded {
    > li + li {
      padding-top: $space-xs;
    }
  }

  &.paragraphs {
    padding-left: 0;
    list-style-type: none;

    > li + li {
      padding-top: $space-sm;
    }
  }

  &.style-none {
    padding-left: 0;
    li {
      list-style: none;
    }
  }
}
