nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
      }
    }
  }
}

.nav--header {
  font-size: 0.8em;

  @include sm {
    font-size: 0.9em;
  }

  ul {
    text-align: right;
  }

  li {
    margin-left: $space-md;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.nav--main {
  background: $color-grey-footer;
  margin-bottom: $space-xl;

  &.anonymous {
    border-bottom: 3px solid $color-blue-button;
  }

  li {
    margin-right: $space-md;
  }

  a {
    text-decoration: none;
    padding: $space-xs 0;
    border-bottom: 4px solid transparent;
    margin-right: $space-xs;

    &.active,
    &:hover {
      border-bottom: 4px solid $color-blue-dark;
    }
  }
}
