nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
      }
    }
  }
}

.nav--header {
  font-size: 0.8em;

  @include sm {
    font-size: 0.9em;
  }

  ul {
    text-align: right;
  }

  li {
    margin-left: $space-md;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.nav--main {
  background: $color-grey-footer;
  margin-bottom: $space-xl;

  li {
    margin-right: $space-md;
  }

  a {
    text-decoration: none;
    padding: $space-xs 0;
    border-bottom: 4px solid transparent;
    margin-right: $space-xs;

    &.active,
    &:hover {
      border-bottom: 4px solid $color-blue-dark;
    }
  }
}

.nav--about {
  li {
    width: 100%;
    margin-bottom: $space-sm;

    a {
      text-decoration: none;

      &.active {
        font-weight: 600;
        border-left: 4px solid currentColor;
        padding-left: $space-xs;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.nav--about__mobile {
  display: inline-block;

  @include md {
    display: none;
  }
}
.nav--about__desktop {
  display: none;

  @include md {
    display: block;
  }
}

.nav--about__mobile {
  border: none;
  border-radius: 0;
  background: $color-grey-footer;

  > summary {
    margin: 0;
    padding: $space-xs 25px $space-xs $space-sm;
    list-style: none;
    border-bottom: $color-blue-dark 2px solid;

    &:focus {
      outline: 3px solid $color-yellow !important;
    }

    &:hover {
      opacity: 1;
      background: #d4d4d4;
    }

    &::-webkit-details-marker {
      display: none;
    }

    > div {
      &::after {
        @include chevron("down");
      }
    }
  }

  &[open] {
    width: auto;

    > summary {
      margin-bottom: $space-md;

      > div::after {
        @include chevron("up");
      }
    }

    ul a:not(.active) {
      padding-left: $space-sm;
    }
  }
}
