.phase-banner {
  background: #f4f4f4;
  line-height: 1.33;
}

.phase-banner {
  div {
    @extend %page-container;
    display: flex;
    align-items: flex-start;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    margin-bottom: $space-md;

    @include sm {
      align-items: center;
    }
  }

  span {
    font-size: 0.7em;
  }

  span:first-of-type {
    border: 2px $color-black solid;
    padding: 1px 5px;
    letter-spacing: 1px;
    margin-right: 1.7em;

    @include sm {
      padding: 1px 7px;
    }
  }

  span:last-of-type {
    margin-top: 3px;

    @include sm {
      margin-top: 0px;
    }
  }
}
