#skip-link-container {
  width: 100%;
  position: absolute;
  z-index: 5;
  text-align: center;
  top: $space-sm;

  #skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;

    &:focus {
      position: static;
      padding: $space-xs;
      width: auto;
      height: auto;
      overflow: auto;
      background-color: white;
      text-align: center;
    }
  }
}

#page--content:focus {
  outline: 0;
}
