.tag {
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 1.15;
  padding: 5px 8px;

  &--blue {
    background-color: $color-blue-light;
    color: $color-blue-dark;
  }

  &--green {
    background-color: $color-green-light;
    color: $color-green-dark;
  }

  &--grey {
    background-color: $color-grey-footer;
    color: $color-grey-dark;
  }

  &--red {
    background-color: $color-red-light;
    color: $color-red;
  }

  &--yellow {
    background-color: $color-yellow-warning-light;
    color: $color-grey-dark;
  }
}
