{% extends 'register/base.html' %}
{% load static i18n %}

{% block title %}
  {% trans "Your poster is ready" %}
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <img src="{% static 'register/img/check.svg' %}" alt="">

    <h1>{% trans "Your poster is ready" %}</h1>
    <div class="content-button">
      <a  href="{% url "register:poster_download" pk=location_id lang='en' %}" target="_blank" role='button' draggable='false'>{% trans "Download English poster" %}<img src="{% static 'register/img/PDF_icon_white.svg' %}" alt=""></a>
      
    </div>
    <div class="content-button">
      <a  href="{% url "register:poster_download" pk=location_id lang='fr' %}" target="_blank" role='button' draggable='false' class="secondary">{% trans "Download French poster" %}<img src="{% static 'register/img/PDF_icon_black.svg' %}" alt=""></a>
    </div>

    {% blocktrans with email=request.session.registrant_email %}
      <p>We’ll also email the poster to {{ email }}</p>
    {% endblocktrans %}

  </div>


  <div class="reminder">
    <div>
      <img src="{% static 'register/img/hand_reminder.svg' %}" alt="">
    </div>
    <div class="reminder-text">
      <p>{% trans "Remember to make a poster for each address of the establishment or event. " %}</p>
    </div>

    
  </div>

  <div class="content-button">
      <a href="{% url 'register:location_step' step='category' %}" role='button' draggable='false' class="secondary">{% trans "Make another poster" %}</a>
  </div>

  <div class="display-poster">
    <h1>{% trans "Display your poster" %}</h1>
    <div class="display-poster-list">
      <li>{% trans "At each entrance and inside." %}</li>
      <li>{% trans "About 130 cm (4 feet 3 inches) from the ground." %}</li>
      <li>{% trans "On flat surfaces that do not move." %}</li>
    </div>
    <p><strong>{% trans "Thank you for helping slow the spread of COVID-19." %}</strong></p>
  </div>

  {% url "register:start" as start %}
  <p><a href="{{ start }}">{% trans "Return to home page" %}</a></p>

  <h1>{% trans "Questions?" %}</h1>
  <div>
    {% url "register:contactus" as contactlink %}
    {% url "register:help" as helplink %}
    {% blocktrans %}
    <p>Visit <a href="{{ helplink }}">Help with your poster</a></p>
    <p>Or <a href="{{ contactlink }}">Contact us</a></p>
    {% endblocktrans %}
  </div>
  
  

{% endblock %}