{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Contact Us" %}
{% endblock %}


{% block content %}

  <div class="content-back-link">
    <a href="{% url 'register:start' %}" class="chevron-left">{% trans "Home" %}</a>
  </div>
  <h1>{% trans "Contact Us" %}</h1>

  <h2>{% trans "Call us" %}</h2>

  {% blocktrans %}
  <p>Phone: 1-833-694-1709<br>
  Teletypewriter (TTY): 1-866-694-8389<br>
  Hours of operation are Monday to Friday from 8:30 am to 5 pm Eastern Time</p>
  {% endblocktrans %}

  <h2>{% trans "Or send us a message" %}</h2>

  <p>{% trans "We usually reply within 24 hours, except for weekends and holidays." %}</p>

  <p><strong>{% trans "What do you want to do?" %}</strong></p>

  {% include "includes/cds_form.html" with submit_text=_("Send") %}

{% endblock %}