{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Help and information" %}
{% endblock %}


{% block content %}
  <div class="support">
    <div class="content-back-link">
      <a href="{% url 'register:start' %}" class="chevron-left">{% trans "Home" %}</a>
    </div>
    {% url "register:contactus" as link %}
    <h1>{% trans "Help and information" %}</h1>

    <h2>{% trans "Pilot project with the City of Ottawa " %}</h2>
    
    <p>{% trans 'Right now there’s only scanning in the City of Ottawa.' %}</p>

    <p>{% trans 'Outside of the City of Ottawa, you can still make a poster for your place or event. Then you’ll be ready when your region starts using QR codes.' %}</p>

    <h2>{% trans "Learn about" %}</h2>
    <ul>
      <li><a href="">{% trans "Changes to name, address or contact information." %}</a></li>
      <li><a href="">{% trans "How QR posters help limit the spread." %}</a></li>
      <li><a href="{% url 'register:howtodisplay' %}">{% trans "How to display your poster." %}</a></li>
    </ul>
    <br>
    <h2>{% trans "For more help with posters" %}</h2>
    <p>
      <a href="{{ link }}">{% trans "Contact poster support" %}.</a>
    </p>
    <br>

    <h2>{% trans "For help with the app" %}</h2>
    <ul>
      <li>
        <a
          href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert.html#a13" target="_blank">
          {% trans "Contact app support" %}
        </a>
      </li>
      <li>
        <a
          href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert/help.html" target="_blank">
          {% trans "Read about common support issues" %}
        </a>
      </li>
    </ul>
  </div>

{% endblock %}
