{% extends 'register/base.html' %}
{% load i18n static %}

{% block title %}
  {% trans "How to display your COVID Alert poster" %}
{% endblock %}


{% block content %}
  <div class="support">
    <div class="content-back-link">
      <a href="{% url 'register:help' %}" class="chevron-left">{% trans "Help and information" %}</a>
    </div>
    <h1>{% trans "How to display your COVID Alert poster" %}</h1>

    <p>
      {% trans 'Print in black and white or colour. Or display on a computer monitor, tablet or TV.  Show the whole poster including header and footer.' %}
    </p>

    <div class="info-message">
      <p>
        {% trans 'Staff and visitors can find and scan if you put posters:' %}
      </p>
      <ul>
        <li>
          {% trans 'At each entrance and inside.' %}
        </li>
        <li>
          {% trans "About 1.5 metres from the ground to the centre of the poster." %}
        </li>
        <li>
          {% trans 'On flat surfaces that do not move.' %}
        </li>
        <li>
          {% trans "In well lit areas without glare (not behind glass)." %}
        </li>
      </ul>
      <p>
        {% trans 'Add or move posters to meet your visitors’ needs.' %}
      </p>
    </div>
    <div class="center-div-img-txt">
      <div>
        <img src="{% static 'img/lightbulb_24px.svg' %}" alt=""/>
      </div>
      <div>
        <h2>{% trans "For best results" %}</h2>
      </div>
    </div>

    <p>
      {% trans 'Put posters where there’s light but not glare. Find places where people can get close with their phones while physically distant.' %}
    </p>
    <p>
      {% trans 'COVID Alert posters are designed for standard letter size paper. But you can also use other paper sizes.' %}
    </p>
  </div>
{% endblock %}
