{% extends 'register/base.html' %}
{% load i18n static %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Address of service or event" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:location_step' step='name' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  <p>{% trans "Step 3 of 5" %}</p>

  {% include  "includes/error_list.html" %}

  {% include  "includes/flash_messages.html" %}

  <h1>{% trans "Address of" %} {{ form_data.category_type }}</h1>

  <div class="info-message">
    <p>{% trans "If the event or service has several addresses, you need a poster for each.  After you finish this poster, we’ll remind you to make more." %}
  </div>

  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/gh/alphagov/accessible-autocomplete/dist/accessible-autocomplete.min.js"></script>
  <script src="{% static 'register/js/address-autocomplete.js' %}"></script>
{% endblock %}