{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Name of service or event" %}
{% endblock %}

{% block content %}
  {% url 'register:location_step' step='category' as back_link %}
  {% include 'register/includes/back.html' with link=back_link %}

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Name of service or event" %}</h1>
  <p>{% trans "We’ll display the name on the poster with your QR code." %}</p>
  
  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}
