{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "What is the name of your business, organization or event?" %}
{% endblock %}

{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "What is the name of your business, organization or event?" %}</h1>
  <p>{% trans "This will be displayed on the QR code poster for users to scan" %}</p>
  
  {% include "includes/cds_form.html" with submit_text=_("Continue") %}
{% endblock %}
