{% extends 'register/base.html' %}
{% load i18n static %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Type of service or event" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:registrant_email' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  <p>{% trans "Step 1 of 5" %}</p>

  {% include  "includes/error_list.html" %}

  {% include  "includes/flash_messages.html" %}

  <h1>{% trans "Type of service or event" %}</h1>
  
  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}

{% block scripts %}
<script src="{% static 'register/js/something-else.js' %}"></script>
{% endblock %}
