{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Address of service or event" %}
{% endblock %}

{% block content %}
  {% url 'register:registrant_name' as back_link %}
  {% include 'register/includes/back.html' with link=back_link %}

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Address of service or event" %}</h1>

  <div class="info-message">
    <p>{% trans "If the event or service has several addresses, you need a poster for each.  After you finish this poster, we’ll remind you to make more." %}
  </div>

  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}
