{% extends 'register/base.html' %}
{% load i18n static %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Contact for the address" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:location_step' step='address' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  <p>{% trans "Step 4 of 5" %}</p>

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Contact for the address" %}</h1>
  <p>{% trans "This could be you, or a different person, such as a store manager." %}<p>
  <p>{% trans "We’ll contact them with any important health information for the address." %}</p>
  
  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}
{% block scripts %}
<script src="{% static 'register/js/phone-extension.js' %}"></script>
{% endblock %}
