{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Name of service or event" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:location_step' step='category' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  <p>{% trans "Step 2 of 5" %}</p>

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Name of" %} {{ form_data.category_type }}</h1>
  <p>{% trans "We’ll display the name on the poster with your QR code." %}</p>
  
  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}
