{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Contact Us" %}
{% endblock %}


{% block content %}

  <div class="content-back-link">
    <a href="{% url 'register:start' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>
  <h1>{% trans "Help with your poster" %}</h1>
  <h2>{% trans "You’ve got the email with your QR code poster. Now what?" %}</h2>
 
  <ul>
      <li>{% trans "Read about saving and printing." %}</li>
      <li>{% trans "Help visitors find and scan your poster." %}</li>
      <li>{% trans "Learn how QR posters work." %}</li>
  </ul>
  <p>{% trans "To ask for the email again, contact us." %}</p>

  <h2>{% trans "Posters are mandatory in some places" %}</h2>

  <p>{% trans "Check which services and events require posters in your province or territory" %}</p>

  <ul>
      <li>{% trans "Alberta" %}</li>
      <li>{% trans "British Columbia" %}</li>
      <li>{% trans "Manitoba" %}</li>
      <li>{% trans "New Brunswick" %}</li>
      <li>{% trans "Newfoundland and Labrador" %}</li>
      <li>{% trans "Nova Scotia" %}</li>
      <li>{% trans "Nunavut" %}</li>
      <li>{% trans "Ontario" %}</li>
      <li>{% trans "Prince Edward Island" %}</li>
      <li>{% trans "Quebec" %}</li>
      <li>{% trans "Saskatchewan" %}</li>
      <li>{% trans "Yukon" %}</li>
  </ul>

  <h2>{% trans "For help with the app" %}</h2>
  <a href="">{% trans "Contact us." %}</a>

  <h2>{% trans "For help with the app" %}</h2>
  <p>{% trans "Read app information about QR Codes." %}</p>

  <p>{% trans "You can also:" %}</p>
  <ul>
    <li>{% trans "Contact direct support" %}</li>
    <li>{% trans "Read about common support issues" %}</li>
  </ul>

{% endblock %}