{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Confirm your email address" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:registrant_email' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Confirm your email address" %}</h1>
  
  {% blocktrans with email=submitted_email %}
    <p>We sent a link to {{ email }}.</p>
  {% endblocktrans %}

  <p>{% trans "If you did not get the email, check your junk or spam folder." %}

  <div class="content-button">
    <a href="{% url 'register:registrant_email' %}" role="button" draggable="false">{% trans "Send email again" %}</a>
  </div>

{% endblock %}
