{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Your name" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:registrant_email' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  {% include  "includes/error_list.html" %}

  {% include  "includes/flash_messages.html" %}

  <h1>{% trans "Your name" %}</h1>
  <p>{% trans "We’ll use your name when we email you." %}

  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}
