{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Email address for your poster" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:start' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  {% include  "includes/error_list.html" %}

  {% include  "includes/flash_messages.html" %}

  <h1>{% trans "Email address where we can send your QR code poster" %}</h1>
  <p>
  {% blocktrans %}
    We do <b>not</b> show the email address on the poster.
  {% endblocktrans %}
  </p>
  
  {% include "includes/cds_form.html" with submit_text=_("Next") before_submit=_("<p>We’ll send you a link to confirm your email address.</p>") %}
{% endblock %}
