{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Email address for your poster" %}
{% endblock %}

{% block content %}
  {% url 'register:start' as back_link %}
  {% include 'register/includes/back.html' with link=back_link %}

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Email address for your poster" %}</h1>
  <p>{% trans "We’ll send you a link. Use the link to confirm your email address." %}</p>
  {% include "includes/cds_form.html" with submit_text=_("Next") %}
{% endblock %}
