{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Confirm your email address" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'register:registrant_email' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  {% include  "includes/error_list.html" %}

  <h1>{% trans "Confirm your email address" %}</h1>
  
  {% blocktrans with email=submitted_email %}
    <p>We sent a link to {{ email }}.</p>
  {% endblocktrans %}

  {% url 'register:registrant_email' as register_url %}
  {% blocktranslate %}
    <p>Check your inbox, junk or spam folder for an email with the subject line <q>Confirm Email for your poster</q></p>
    <p>If you did not get the email, we can <a href="{{ register_url }}">send it again</a></p>
  {% endblocktranslate %}

{% endblock %}
