
{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Create a COVID Alert QR code for your venue" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Create a COVID Alert QR code for your venue" %}</h1>
  <p>{% trans "Use this service to create a QR code for display in your venue. Get visitors to scan the QR code when they arrive, using the COVID Alert app. This is to help trace and stop the spread of coronavirus (COVID-19)." %}</p>
  <p>{% trans "If you have more than one venue, you need to create a separate QR code for each location. You can add multiple locations in the service." %}</p>

  <div class="content-button">
    <a href="{% url 'register:registrant_email' %}" role="button" draggable="false" class="with-chevron">{% trans "Start now" %}</a>
  </div>
{% endblock %}