{% extends 'register/base.html' %}
{% load static i18n %}

{% block title %}
  {% trans "Make a COVID Alert poster" %}
{% endblock %}

{% block hero %}
  <div class="hero">
    <div class="hero-inner">
      <h1>{% trans "Display a QR code to help limit the spread of COVID-19" %}</h1>
      <div class="hero-image">
        <img src="{% static 'img/register-start.svg' %}" alt=""/>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <p>{% trans "Make a COVID Alert poster for your business, community organization or event." %}</p>
  {% blocktrans %}
    <p>
      People scan the poster’s QR code to add a visit with the
      <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert.html" target="_blank">COVID
        Alert app</a>.
      Then we can notify them of exposures from their visit.
    </p>
  {% endblocktrans %}
  <h2>{% trans "You’ll need:" %}</h2>
  <ul>
    <li>{% trans "an email address where we can send the poster;" %}</li>
    <li>{% trans "the name and address of place or event;" %}</li>
    <li>{% trans "contact information for the address." %}</li>
  </ul>

  <div class="content-button">
    <a href="{% url 'register:registrant_email' %}" role="button" draggable="false"
       class="with-chevron">{% trans "Start now" %}</a>
  </div>

  <p>
    {% trans 'When you’re done, we’ll remind you to make different posters for other addresses of the place or event.' %}
  </p>

  {% url "register:contactus" as link %}
  {% url "register:help" as qrlink %}

  {% blocktranslate %}
    <h2> Questions? </h2>
    <p>Read about <a href="{{ qrlink }}">COVID Alert posters</a>.<br>
      Or <a href="{{ link }}">ask for help</a>.</p>
  {% endblocktranslate %}
{% endblock %}
