{% extends 'register/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Check your answers before making your poster" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'register:location_step' step='contact' %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

    <h1>{% trans "Check your answers before making your poster" %}</h1>

    <h2>{% trans "Personal information" %}</h2>

    <dl class="summary-list">
        <div class="summary-list__row">
            <dt class="summary-list__key">
                {% trans "Your email address" %}
            </dt>
            <dd class="summary-list__value">
                {{ registrant.email }}
            </dd>
            <dd class="summary-list__actions">
                <a href="{% url 'register:registrant_email'  %}">
                    Change<span class="visually-hidden"> your email</span>
                </a>
            </dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">
                {% trans "Your name" %}
            </dt>
            <dd class="summary-list__value">
                {{ registrant.name }}
            </dd>
            <dd class="summary-list__actions">
                <a href="{% url 'register:registrant_name' %}">
                    Change<span class="visually-hidden"> your name</span>
                </a>
            </dd>
        </div>
    </dl>
    
    <h2>{% trans "Service or event details" %}</h2>
    <form action="" method="post" class="summary_form">
        {% csrf_token %}
        {{ wizard.management_form }}
        
        <dl class="summary-list">
            <div class="summary-list__row">
                <dt class="summary-list__key">
                    {% trans "Address" %}
                </dt>
                <dd class="summary-list__value">
                    {{ form_data.address }}<br>
                    {{ form_data.address_2 }}<br>
                    {{ form_data.city }}<br>
                    {{ form_data.province }}<br>
                    {{ form_data.postal_code }}
                </dd>
                <dd class="summary-list__actions">
                    <a href="{% url 'register:location_step' step='address' %}">Change <span class="visually-hidden"> address</span></a>
                </dd>
            </div>
            
            <div class="summary-list__row">
                <dt class="summary-list__key">
                    {% trans "Type" %}
                </dt>
                <dd class="summary-list__value">
                    {{ form_data.category }}
                </dd>
                <dd class="summary-list__actions">
                    <a href="{% url 'register:location_step' step='category' %}">Change <span class="visually-hidden"> business type</span></a>
                </dd>
            </div>

            <div class="summary-list__row">
                <dt class="summary-list__key">
                    {% trans "Name" %}
                </dt>
                <dd class="summary-list__value">
                    {{ form_data.name }}
                </dd>
                <dd class="summary-list__actions">
                    <a href="{% url 'register:location_step' step='name' %}">Change <span class="visually-hidden"> business, organization or event name</span></a>
                </dd>
            </div>

            <div class="summary-list__row">
                <dt class="summary-list__key">
                    {% trans "Contact person for the location" %}
                </dt>
                <dd class="summary-list__value">
                    {{ form_data.contact_name }}<br>
                    {{ form_data.contact_email }}<br>
                    {{ form_data.contact_phone }}
                </dd>
                <dd class="summary-list__actions">
                    <a href="{% url 'register:location_step' step='contact' %}">Change <span class="visually-hidden"> contact</span></a>
                </dd>
            </div>
        </dl>

        <h2>{% trans "We’ll use this information to make your poster" %}</h2>

        <p>{% trans "By selecting “Make poster”, you confirm your answers are correct and complete." %}

        <div class="content-button">
            <button type="submit">{% trans "Make poster" %}</button>
        </div>
    </form>
{% endblock %}