<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" >

    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>{% block title %}{% trans "Generate COVID Alert number" %}{% endblock %}{% block title_suffix %} {% trans "– COVID Alert Portal" %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <header>
        {% include  "includes/phase_banner.html" %}
        <div class="page--container">
          <div class="fip-container">
            {% include  "includes/FIP_header.html" %}
            {% include  "includes/nav_header.html" %}
          </div>
        </div>
        <div class="page--container">
          <div id="site-name">{% trans "Generate COVID Alert number" %}</div>
        </div>
      </header>
      <main id="content">

        {% include  "includes/nav_main.html" %}

        <div class="page--container">
          <div class="content--container">
            {% block content %}{% endblock %}
          </div>
        </div>

      </main>

      {% include  "includes/footer.html" %}

    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
