<!DOCTYPE html>
{% load static i18n settings %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if request.user.is_authenticated %}
      <meta http-equiv="Refresh" content="{{ "SESSION_COOKIE_AGE"|get_setting|add:1 }}; url={% url 'session_timed_out' %}">
    {% endif %}

    {% with version="DJVERSION_VERSION"|get_setting %}
      <meta name="VERSION" content="{{ version }}">
    {% endwith %}

    {% with sha="GITHUB_SHA"|get_setting %}
      {% if sha %}
        <meta name="GITHUB_SHA" content="{{ sha }}">
      {% endif %}
    {% endwith %}

    <!-- Bootstrap -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" >

    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>{% block title %}{% trans "COVID Alert Portal" %}{% endblock %}{% block title_suffix %} {% trans "— COVID Alert Portal" %}{% endblock %}</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
      <div id="skip-link-container"><a href="#page--content" id="skip-link">{% trans "Skip to main content" %}</a></div>
    {% endif %}
    <div class="container">
      <header>
        <div class="page--container">
          <div class="fip-container">
            {% include  "includes/FIP_header.html" %}
            {# on the CSRF error page, the request context is missing #}
            {% if request %}
              {% include  "includes/nav_header.html" %}
            {% endif %}
          </div>
        </div>
        <div class="page--container">
          <div id="site-name">{% trans "COVID Alert Portal" %}</div>
        </div>
      </header>
      <main id="content">

        {% include  "includes/nav_main.html" %}

        <div class="page--container" id="page--content" tabindex="-1">
          <div class="content--container {% block extra_container_class %}{% endblock %}">
            {% block content %}{% endblock %}
          </div>
        </div>

      </main>

      {% include  "includes/footer.html" %}

    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
