{% extends "includes/cds_form_base.html" %}
{% load i18n widget_tweaks %}

{% block content %}

<div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %}">
  {# Include the visible fields #}
  {% for field in form.visible_fields %}
    {# Handle everything except the phone number fields #}
    {% if field.html_name != 'contact-contact_phone' and field.html_name != 'contact-contact_phone_ext' %}
      <div class="fieldWrapper{% if field.errors %} fieldWrapper--has-error{% endif %}">
          <strong>{{ field.label_tag }}</strong>
          {% if field.errors %}
              <div id="error--{{ field.html_name }}" class="validation-error">{{ field.errors|first }}</div>
          {% endif %}
          {% if field.help_text %}
              <div class="help--{{ field.html_name }}">{{ field.help_text|linebreaks }}</div>
          {% endif %}
          {% with "aria-describedby:error--"|add:field.html_name as describedBy %}
              {{ field|add_error_attr:describedBy  }}
          {% endwith %}
      </div>        
    {% endif %}
  {% endfor %}
</div>

<div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %} phone-number-fields">
  <div class="fieldWrapper{% if form.contact_phone.errors %} fieldWrapper--has-error{% endif %} phone-number-part">
      <strong>{{ form.contact_phone.label_tag }}</strong>
      {% if form.contact_phone.errors %}
          <div id="error--{{ form.contact_phone.html_name }}" class="validation-error">{{ form.contact_phone.errors|first }}</div>
      {% endif %}
      {% if form.contact_phone.help_text %}
          <div class="help--{{ form.contact_phone.html_name }}">{{ form.contact_phone.help_text|linebreaks }}</div>
      {% endif %}
      {% with "aria-describedby:error--"|add:form.contact_phone.html_name as describedBy %}
          {{ form.contact_phone|add_error_attr:describedBy  }}
      {% endwith %}
  </div>

  <div class="fieldWrapper{% if form.contact_phone_ext.errors %} fieldWrapper--has-error{% endif %} hidden" id="extension-part">
      <strong>{{ form.contact_phone_ext.label_tag }}</strong>
      {% if form.contact_phone_ext.errors %}
          <div id="error--{{ form.contact_phone_ext.html_name }}" class="validation-error">{{ form.contact_phone_ext.errors|first }}</div>
      {% endif %}
      {% if form.contact_phone_ext.help_text %}
          <div class="help--{{ form.contact_phone_ext.html_name }}">{{ form.contact_phone_ext.help_text|linebreaks }}</div>
      {% endif %}
      {% with "aria-describedby:error--"|add:form.contact_phone_ext.html_name as describedBy %}
        {{ form.contact_phone_ext|add_error_attr:describedBy }}
      {% endwith %}
  </div>
  <div id="add-extension-link">
    <button id="id-ext-label" class="ext_button link" type="button">{% trans "Add phone extension" %}</button>
  </div>
</div>

{% endblock %}