{% load static settings %}
{% load i18n %}

<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li><a href="">{% trans "Contact us" %}</a></li>
                <li><a href="">{% trans "Privacy" %}</a></li>
                <li><a href="">{% trans "Terms of use" %}</a></li>
            </ul>
        </div>
        <div class="box-style">
            <a href="" class="button-text-style">{% trans "Top of Page" %}</a>
        </div>
            
        <div class="canada-wordmark"><img src="{% static 'img/wmms-blk.svg' %}" alt="{% trans 'Symbol of the Government of Canada' %}" /></div>
    </div>
</footer>
