{% load i18n settings %}
{% load language_switcher %}
<nav class="nav--header" aria-label="{% trans 'Language and account navigation' %}">
  <ul>
    <li>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_language_info for "en" as langEn %}
        {% get_language_info for "fr" as langFr %}

        <h2 class="visually-hidden">{% trans "Language selection" %}</h2>
        <a href="{% url 'switch_language' %}">{% get_lang_title LANGUAGE_CODE langEn langFr %}</a>
    </li>
  </ul>
</nav>
