@charset "UTF-8";
/* Utilities */
/*
    media queries based on Pure CSS's breakpoints: https://purecss.io/grids/

    usage example:

    @include sm {
      width: 100%;
    }
*/
/* ≥ 336px */
/* ≥ 568px */
/* ≥ 768px */
/* ≥ 1024px */
/* ≥ 1200px */
/* App-wide styles */
* {
  box-sizing: border-box;
}

a[href]:not([disabled]):focus:not(.autocomplete__option),
area[href]:not([disabled]):focus:not(.autocomplete__option),
input:not([disabled]):focus:not(.autocomplete__option),
select textarea:not([disabled]):focus:not(.autocomplete__option),
button:not([disabled]):focus:not(.autocomplete__option),
iframe:not([disabled]):focus:not(.autocomplete__option),
[tabindex]:not([disabled]):focus:not(.autocomplete__option),
[contentEditable="true"]:not([disabled]):focus:not(.autocomplete__option) {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

body {
  margin: 0;
  font-size: 1.05em;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.65;
}

@media screen and (min-width: 21em) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 35.5em) {
  body {
    font-size: 1.3em;
  }
}

p,
.multiple-choice__item p,
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 21em) {
  p,
.multiple-choice__item p,
ol,
ul {
    margin-bottom: 15px;
  }
}

p + ul {
  margin-top: -10px;
}

@media screen and (min-width: 21em) {
  p + ul {
    margin-top: -15px;
  }
}

ol,
ul {
  padding-left: 30px;
}

@media screen and (min-width: 35.5em) {
  ol,
ul {
    padding-left: 40px;
  }
}

a, a:visited {
  color: #284162;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.33;
  font-weight: 600;
}

.phase-banner div, .page--container, main {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 75em) {
  .phase-banner div, .page--container, main {
    max-width: 1170px;
  }
}

main {
  padding: 0 20px;
  padding-bottom: calc(80px + 60px);
}

main h1 {
  border-bottom: 1px solid #af3c43;
}

@media screen and (min-width: 48em) {
  main h1 {
    padding-right: 15%;
  }
}

main > div {
  margin-bottom: 30px;
}

@media screen and (min-width: 48em) {
  main > div {
    width: 90%;
  }
}

@media screen and (min-width: 75em) {
  main > div {
    width: 80%;
  }
}

li:not(:last-of-type) {
  padding-bottom: 5px;
}

@media screen and (min-width: 35.5em) {
  li:not(:last-of-type) {
    padding-bottom: 0;
  }
}

.container {
  position: relative;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

/* Partials */
header {
  padding: 0 0 0 0;
}

header button {
  padding: 0;
}

@media screen and (min-width: 35.5em) {
  header {
    text-align: right;
  }
}

header .fip-container {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

header .canada-flag {
  height: auto;
  max-height: 40px;
  width: 272px;
  margin-bottom: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 35.5em) {
  header .canada-flag {
    width: 360px;
    margin-bottom: 0;
  }
}

.phase-banner {
  background: #f4f4f4;
  line-height: 1.33;
}

.phase-banner div {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 35.5em) {
  .phase-banner div {
    align-items: center;
    margin-bottom: 40px;
  }
}

.phase-banner span {
  font-size: 0.7em;
}

.phase-banner span:first-of-type {
  border: 2px #000000 solid;
  padding: 1px 5px;
  letter-spacing: 1px;
  margin-right: 1.7em;
}

@media screen and (min-width: 35.5em) {
  .phase-banner span:first-of-type {
    padding: 1px 7px;
  }
}

.phase-banner span:last-of-type {
  margin-top: 3px;
}

@media screen and (min-width: 35.5em) {
  .phase-banner span:last-of-type {
    margin-top: 0px;
  }
}
