<div class="static-codes{% if class %} {{ class }}{% endif %}">
  <ol class="visually-hidden">
  {% for code in codes %}
    {% if code %}
      <li>{{ code.token|upper|join:" " }}</li>
    {% endif %}
  {% endfor %}
  </ol>
  <ol aria-hidden="true">
  {% for code in codes %}
    {% if code %}
      <li>
        <span>{{ code.token|upper|slice:":4" }}</span><span>{{ code.token|upper|slice:"4:" }}</span>
      </li>
    {% else %}
      <li class="empty">
        <span></span>
      </li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
