{% load static %}
{% include 'includes/emails/header.html' %}
<p>Hello,</p>
<p>Your manager has authorized you to generate numbers for COVID Alert.</p>
<p>You’ll need an account to give numbers to patients diagnosed with COVID-19. Then patients can use the COVID Alert app to anonymously notify people they’ve been near and possibly exposed.</p>
<p>Please use this link to create your username and password. The link expires in 3 days:</p>
<p><a href="{{ invite_url }}">{{ invite_url }}</a></p>
<p>COVID Alert is an important part of the public health effort to slow the spread of COVID-19.  Thanks for your essential work to protect our communities!</p>
<br/>
<br/>
-------------------------------------------------------------------------
<br/>
<br/>
<p>Bonjour,</p>
<p>Votre gestionnaire vous a autorisé à générer des numéros pour l’application mobile Alerte COVID.</p>
<p>Vous aurez besoin d’un compte pour pouvoir fournir des numéros aux patients recevant un diagnostic de COVID-19. Ces derniers pourront ensuite utiliser Alerte COVID pour aviser de façon anonyme les personnes d’une exposition potentielle si jamais elles ont été en proximité.</p>
<p>Veuillez utiliser le lien suivant pour créer votre nom d’utilisateur et votre mot de passe. Le lien expire dans 3 jours.</p>
<p><a href="{{ invite_url }}">{{ invite_url }}</a>  </p>
<p>Alerte COVID fait partie des efforts importants déployés pour ralentir la propagation de COVID-19. Merci pour tout le travail que vous faites pour nos communautés!</p>
{% include 'includes/emails/footer.html' %}
