{% include 'includes/emails/header.html' %}
<p>Hello,</p>
<p>The COVID Alert app is an important part of the public health effort to slow the spread of COVID-19. Your manager has authorized you to generate COVID Alert keys.</p>
<h2>Your portal invitation expires in 24 hours</h2>
<p><a href="{{ invite_url }}">Create an account</a> to give one-time keys to patients diagnosed with COVID-19.  Then they can anonymously notify people of possible exposures.</p>
<p>Thanks for your essential work to protect our communities!</p>
<p>The COVID Alert team</p>
<br/>
<br/>
-------------------------------------------------------------------------
<br/>
<br/>
<p>Bonjour,</p>
<p>L’application mobile Alerte COVID fait partie des efforts importants déployés pour ralentir la propagation de COVID-19. Votre gestionnaire vous a autorisé à générer des clés Alerte COVID.</p>
<h2>Votre invitation pour le Portail expire dans 24 heures</h2>
<p><a href="{{ invite_url }}">Créez votre compte</a> pour pouvoir fournir des clés à usage unique aux patients ayant un diagnostic de COVID-19. Ces derniers pourront ensuite aviser de façon anonyme les autres personnes d’une exposition potentielle.  Merci pour tout le travail que vous faites pour nos communautés!</p>
<p>L’équipe Alerte COVID</p>
{% include 'includes/emails/footer.html' %}
