<!-- TODO: Gmail doesn't support inline SVGs for emails, we need to either link or attach them to the email -->
<img src="https://healthcare-portal.herokuapp.com/static/sig-blk-en.jpg" />
Hello,<br>
You’re invited to create an account for ‘Generate COVID Alert number’.<br>
You’ll be able to use this account to generate numbers for patients using the COVID Alert app. The app notifies people if they’ve been exposed to COVID-19.<br>
Please use this link to create your account: <a href="{{ invite_url }}">{{ invite_url }}</a><br>
<br>
Thanks for your essential work to protect our communities!   <br>
<br>
-------------------------------------------------------------------------
<br>
Bonjour,<br>
Vous êtes invité à créer un compte pour ‘Générer un numéro Alerte COVID’.<br>
Vous pourrez utiliser ce compte pour générer des numéros destinés aux patients qui utilisent l’application Alerte COVID. Cette application avise les personnes en cas d’exposition potentielle à la COVID-19.<br>
Utilisez le lien suivant pour créer votre compte : <a href="{{ invite_url }}">{{ invite_url }}</a><br>
<br>
Merci pour tout le travail que vous faites pour nos communautés!

<img src="https://healthcare-portal.herokuapp.com/static/wmms-blk.jpg" />