{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Log in" %}
{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="errorlist--container" role="alert">
    <h2 class="errorlist--heading">
      {% trans "Please correct the errors on the page" %}
    </h2>
    <ol class="errorlist">
      {% for key,value in form.errors.items %}
        <li>
        {% if key == '__all__' %}
          <a href="#form--{{ request.resolver_match.url_name }}">
        {% else %}
          <a href="#id_{{ key|escape }}">
        {% endif %}
          {{ value|first|escape }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}

<h1>{% trans "Log in" %}</h1>

<form method="post" id="form--{{ request.resolver_match.url_name }}">
  {% csrf_token %}

  <div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %}">
    {% for field in form %}
        <div class="fieldWrapper{% if field.errors %} fieldWrapper--has-error{% endif %}">
            {{ field.label_tag }}
            <span class="error--{{ field.html_name }}">{{ field.errors|first }}</span>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            {{ field }}
        </div>
    {% endfor %}
  </div>
  <button type="submit">Login</button>
</form>
<div><a href="{% url 'password_reset' %}">Forgot your password?</a></div>

{% endblock %}
