{% load i18n %}
Hello {{ user.name }},
Change your password
We received a request to change your password for the COVID Alert Portal.
You can change your password now : {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
If you did not ask to change your password, ignore this email.
Thank you,

The COVID Alert team

-------------------------------------------------------------------------

Bonjour {{ user.name }},
Modification du mot de passe
Nous avons reçu votre demande de ">modification de mot de passe pour le Portail Alerte COVID.
Vous pouvez modifier votre mot de passe maintenant: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
Si vous n’avez pas demandé de modifier votre mot de passe, ignorez ce courriel.
Merci,

L’équipe Alerte COVID
