{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Security codes" %}{% endblock %}

{% block content %}
  {% include  "includes/flash_messages.html" %}
  <h1>{% trans "Security codes" %}</h1>
  <p>{% trans "Use these security codes to login to the portal. The code proves it’s you." %}</p>
  <p>{% trans "You can use each code only once." %}</p>
  <p>{% trans "Keep the codes on paper in a safe place. Do not save or store this screen, copy the codes to an electronic device, or share the codes with anyone else." %}</p>

  {% include "includes/codes.html" with codes=backup_code_list %}

  <p>{% trans "When you get new codes, the last codes will no longer work, even if you have not used them yet." %}</p>
  <div class="content-button">
    <form action="{% url 'backup_codes' %}" method="post">
      {% csrf_token %}
      <button type="submit">{% trans "Get new security codes" %}</button>
    </form>
    <a href="{% url 'user_profile' pk=user.id %}" class="secondary" role='button' draggable='false'>{% trans "Back to your account" %}</a>
  </div>

{% endblock %}
