{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "No security code?" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "No security code?" %}</h1>
  <p>{% blocktrans with view.user_admin.email as admin_email %}Ask your administrator ({{admin_email}}) for a code.{% endblocktrans %}</p>
  {% include "includes/cds_form.html" with submit_text=_("Get codes from admin") %}

{% endblock %}
