{% load i18n %}

{% if request.resolver_match.url_name == 'start' %}class="active"{% endif %}

<nav class="nav--about" aria-label="{% trans 'Table of contents: About the Portal' %}">
  <ul>
    <li><a {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %} href="{% url 'about:index' %}">{% trans "COVID Alert" %}</a></li>
    <li><a {% if request.resolver_match.url_name == 'create_account' %}class="active"{% endif %} href="{% url 'about:create_account' %}">{% trans "Create an account" %}</a></li>
    <li><a {% if request.resolver_match.url_name == 'one_time_keys' %}class="active"{% endif %} href="{% url 'about:one_time_keys' %}">{% trans "One-time keys" %}</a></li>
    <li><a {% if request.resolver_match.url_name == 'give_a_key' %}class="active"{% endif %} href="{% url 'about:give_a_key' %}">{% trans "Give a key" %}</a></li>
    <li><a {% if request.resolver_match.url_name == 'help_patient_enter_key' %}class="active"{% endif %} href="{% url 'about:help_patient_enter_key' %}">{% trans "Help patient enter key" %}</a></li>
    <li><a {% if request.resolver_match.url_name == 'admin_accounts' %}class="active"{% endif %} href="{% url 'about:admin_accounts' %}">{% trans "Admin accounts" %}</a></li>
  </ul>
</nav>
