{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    {% trans "Exposure date and time" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'exposure_notifications:start' %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

  <h1>{% trans "Exposure date and time" %}</h1>

  <p>{% trans "We’ll notify people who scanned the QR code on that date. Remember to add all dates of this public exposure." %}</p>

  <form method="post" id="form--{{ request.resolver_match.url_name }}">
    {% csrf_token %}

    <div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %}">
      <div class="fieldWrapper{% if field.errors %} fieldWrapper--has-error{% endif %}">
        <div class="date_entry">
          {{ form.day.label_tag }}
          {% if form.day.errors %}
            <div id="error--{{ form.day.html_name }}" class="validation-error">{{ form.day.errors|first }}</div>
          {% endif %}
          {{ form.day }}
        </div>
        <div class="date_entry">
          {{ form.month.label_tag }}
          {% if form.month.errors %}
            <div id="error--{{ form.month.html_name }}" class="validation-error">{{ form.month.errors|first }}</div>
          {% endif %}
          {{ form.month }}
        </div>
        <div class="date_entry">
          {{ form.year.label_tag }}
          {% if form.year.errors %}
            <div id="error--{{ form.year.html_name }}" class="validation-error">{{ form.year.errors|first }}</div>
          {% endif %}
          {{ form.year }}
        </div>

        <label for="date">{% trans "select date" %}</label>

        <div class="content-button">
          <button type="submit">
            {{ _("Next") }}
          </button>
        </div>

      </div>
    </div>
  </form>

{% endblock %}
