{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Log in" %}
{% endblock %}

{% block extra_container_class %}login{% endblock %}

{% block content %}
  {% include  "includes/error_list.html" %}
  {% include  "includes/flash_messages.html" with messages=logout_messages %}

  <h1>{% trans "Log in" %}</h1>

  {% include "includes/cds_form.html" with submit_text=_("Log in") %}
  <p class="near-form">
      <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
  </p>
  <p>{% trans "Only an authorized healthcare worker can use a portal account and give a COVID Alert key." %}</p>
{% endblock %}
