{% load i18n %}
{% include 'includes/emails/header.html' %}
<p>Hello {{ user.name }},</p>
<p>Change your password</p>
<p>We received a request to change your password for the COVID Alert Portal.</p>
<p>You can <a href="{{ base_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}">change your password</a> now.</p>
<p>If you did not ask to change your password, ignore this email.</p>
<p>Thank you,</p>
<p>The COVID Alert team</p>
<br />
-------------------------------------------------------------------------
<br />
<p>Bonjour {{ user.name }},</p>
<p>Modification du mot de passe</p>
<p>Nous avons reçu votre demande demodification de mot de passe pour le Portail Alerte COVID.</p>
<p>Vous pouvez <a href="{{ base_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}">modifier votre mot de passe</a> maintenant.</p>
<p>Si vous n’avez pas demandé de modifier votre mot de passe, ignorez ce courriel.</p>
<p>Merci,</p>
<p>L’équipe Alerte COVID</p>

{% include 'includes/emails/footer.html' %}
