{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if validlink %}
    {% if form.errors %}{% trans "Error: "%}{% endif %}
    {% trans "Change your password" %}
  {% else %}
    {% trans "This link has expired" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if validlink %}
    {% include  "includes/error_list.html" %}

    <h1>{% trans "Change your password" %}</h1>

    {% include "includes/cds_form.html" with submit_text=_("Change password") %}
  {% else %}
    <h1>{% trans "This link has expired" %}</h1>

    <p>{% trans "The password reset link was invalid, possibly because it has already been used." %}

    {% url 'password_reset' as reset_url %}
    <p>{% blocktrans with url=reset_url %}If you still need a new password, <a href="{{ url }}">send a new password reset email</a>.{% endblocktrans %}</p>
  {% endif %}
{% endblock %}
