<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Homepage</h1>
<p>Users:</p>
<ul>
{% for user in healthcareuser_list %}
    <li>
        User {{ user.id }}
        - {{ user.email }}
        - <a href="/users/{{user.id}}">Profile</a>
    </li>
{% empty %}
    <li>No users yet.</li>
{% endfor %}
</ul>

{% if user.is_authenticated %}
    <p>Currently logged in as: {{ user.email }}</p>
    <p><a href="{% url 'logout' %}">Log out</a>.</p>
{% else %}
    <p>Not currently logged in.</p>
    <p><a href="{% url 'login' %}">Log in</a> here.</p>
    <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% endif %}

{% endblock %}
