<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Portal 🧑‍⚕️</h1>
<p>Users:</p>
<ul>
{% for user in healthcareuser_list %}
    <li>
        User {{ user.id }}
        - {{ user.email }}
        - <a href="/users/{{user.id}}">Profile</a>
    </li>
{% empty %}
    <li>No users yet.</li>
{% endfor %}
</ul>


{% if healthcareuser_list|length == 0 %}
    <p><a href="{% url 'signup' %}">Sign up</a> here.</p>
{% else %}
    {# users exist #}
    {% if user.is_authenticated %}
        <p>Currently logged in as: {{ user.email }}</p>
        <p><a href="{% url 'logout' %}">Log out</a>.</p>
    {% else %}
        <p>Not currently logged in.</p>
        <p><a href="{% url 'signup' %}">Sign up a new user</a> or <a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}

{% endif %}

{% endblock %}
