{% extends 'base.html' %}
{% block title %}Viewing User {{ user.id }}{% endblock %}

{% block content %}
    {% if viewed_user %}
        <h1 align="center">Viewing User {{ viewed_user.id }}</h1>
<div align="center">
         <dl>
          <dt>Email:</dt>
          <dd>{{viewed_user.email}}</dd>
          <dt>Name:</dt>
          <dd>{{viewed_user.name}}</dd>
          <dt>Language:</dt>
          <dd>{{viewed_user.language}}</dd>
        </dl>
        {% if user.is_authenticated and user.id == viewed_user.id %}
            <p><a href="{% url 'user_edit' viewed_user.id %}">Edit user info</a></p>
        {% endif %}
        <p><a href="{% url 'start' %}">↩ Back</a></p>

    {% else %}
        <p>User not found.</p>
    {% endif %}
{% endblock %}
</div>
