{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Review and send" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'outbreaks:severity' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  {% if form.non_field_errors %}
      <div class="messages--container" role="alert">

        <ul class="messages">
          {% for err in form.non_field_errors.data %}
            <li class="warning"><b> {{ err.message }} </b></li>
          {% endfor %}
          <li class="warning">
            {% trans "To see all public exposures for this place, visit" %} <a
            href="{% url 'outbreaks:history' %}">‘{% trans "Notification history" %}’</a>
          </li>
        </ul>
      </div>
  {% endif %}

  <h1>{% trans "Review and send" %}</h1>

  <p>{% trans "You’ll alert everyone who scanned this QR code on the date(s) and time(s) below." %}</p>

  <dl class="summary-list">
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Name" %}</dt>
      <dd class="summary-list__value">{{ location.name }}</dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:search' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "location" %}</span></a></dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Address" %}</dt>
      <dd class="summary-list__value">
        {{ location.address }}<br>
        {{ location.city }}, {{ location.province }}<br>
        {{ location.postal_code }}<br>
      </dd>
      <dd class="summary-list__actions">
        <a href="{{ map_link }}" target="_blank">{% trans "Show on map" %}</a>
      </dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Date and time" %}</dt>
      <dd class="summary-list__value">
        {% for date_entry in dates %}
          {{ date_entry.notification_txt }}<br/>
        {% endfor %}
      </dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:datetime' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "dates" %}</span></a></dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Guidance" %}</dt>
      <dd class="summary-list__value">{{ alert_level }}</dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:severity' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "severity" %}</span></a></dd>
    </div>
  </dl>

  <div class="info-message">
    <p>
      {% blocktrans %}
        <p>When you “Send QR alert”,  you confirm you’ve correctly entered all details from the health authority.</p>
        <p>It’s not possible to cancel an alert after sending.</p>
      {% endblocktrans %}
  </div>

  {% include "includes/cds_form.html" with submit_text=_("Send QR alert") submit_class="warning" %}

{% endblock %}
