{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Confirm notification" %}
{% endblock %}

{% block content %}
  <div class="content-back-link">
    <a href="{% url 'outbreaks:severity' %}" class="chevron-left">{% trans "Back" %}</a>
  </div>

  <h1>{% trans "Confirm and send" %}</h1>

  <dl class="summary-list">
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Name" %}</dt>
      <dd class="summary-list__value">{{ location.name }}</dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:search' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "location" %}</span></a></dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Address" %}</dt>
      <dd class="summary-list__value">
        {{ location.address }}<br>
        {{ location.city }}, {{ location.province }}<br>
        {{ location.postal_code }}<br>
      </dd>
      <dd class="summary-list__actions">
        <a href="{{ map_link }}" target="_blank">{% trans "Show on map" %}</a>
      </dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Type" %}</dt>
      <dd class="summary-list__value">{{ location_category }}</dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:search' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "location" %}</span></a></dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Date(s)" %}</dt>
      <dd class="summary-list__value">
        {% for date_entry in dates %}
          {{ date_entry.notification_txt }}<br/>
        {% endfor %}
      </dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:datetime' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "dates" %}</span></a></dd>
    </div>
    <div class="summary-list__row">
      <dt class="summary-list__key">{% trans "Severity" %}</dt>
      <dd class="summary-list__value">{{ alert_level }}</dd>
      <dd class="summary-list__actions"><a href="{% url 'outbreaks:severity' %}">{% trans "Change" %}<span
        class="visually-hidden">{% trans "severity" %}</span></a></dd>
    </div>
  </dl>

  <p>{% trans "By selecting “Notify people who were there”,  you confirm you believe this information is correct and complete." %}</p>

  {% include "includes/cds_form.html" with submit_text=_("Notify people who were there") submit_class="warning" %}

{% endblock %}
