{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Alert sent" %}
{% endblock %}

{% block content %}
  <div class="success-message">
    <h1>{% trans "Alert sent" %}</h1>
  </div>

  <p>{% trans "You’ve notified people who scanned the QR code at the address, date(s) and time(s) below." %}</p>

  <address>{{ location.name }}<br> 
  {{ location.address }}<br> 
  {{ location.city }}, {{ location.province }}<br>
  {{ location.postal_code }}</address>

  <br>

  <hr>

  <ul class="style-none">
      {% for date_entry in dates %}
        <li>{{ date_entry.notification_txt }}</li>
      {% endfor %}
  </ul>

  <hr>

  <div class="content-button">
    <a href="{% url 'outbreaks:search' %}" role='button' draggable='false'>{% trans "Send another alert" %}</a>
    <a class="secondary" href="{% url 'outbreaks:history' %}" role='button' draggable='false'>{% trans "Check alert history" %}</a>
  </div>

{% endblock %}
