{% extends 'base.html' %}
{% load i18n static fieldset_date %}

{% block title %}
    {% trans "Exposure date and time" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'outbreaks:search' %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

  {% if form.non_field_errors %}
    <div class="messages--container" role="alert">
        <ul class="messages">
            <li class="error"><b> {{ form.non_field_errors.0 }} </b></li>
            <li class="error">
              {% trans "To see all public exposures for this place, visit" %} <a href="{% url 'outbreaks:history' %}">‘{% trans "Notification history" %}’</a>
            </li>
        </ul>
    </div>
  {% endif %}

  <h1>{% trans "Exposure date and time" %}</h1>

  <p>{% trans "We’ll notify people who scanned the QR code on that date. Remember to add all dates of this public exposure." %}</p>

  <form method="post" id="form--{{ request.resolver_match.url_name }}">
    {% csrf_token %}

    {% for fieldset in form.fieldsets %}
    <div class="datetime">
      <div class="fieldWrapper--container{% if fieldset.error %} fieldWrapper--container--has-error{% endif %}">
        <div class="fieldWrapper{% if fieldset.error %} fieldWrapper--has-error{% endif %}">

          {% if fieldset.error %}
            <div id="error--{{ form.html_name }}-{{group}}" class="validation-error"> {{ fieldset.error }} </div>
          {% endif %}
          <div class="remove-container">
            <button name="adjust_dates" value="remove_{{fieldset.title}}" class="secondary">
              {{ _("Remove") }}
            </button>
          </div>
          {% for field in fieldset %}
            {% if forloop.counter < 4 %}
              <div class="date_entry">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}


          <button type="button" class="link datepicker_button" id="{{ fieldset.title }}">{% trans "Select date" %}</button>

          <duet-date-picker
                  id="datepicker_{{ fieldset.title }}"
                  value="{{ fieldset|fieldset_date }}"
                  min="{{min_date}}"
                  max="{{max_date}}"
                  language="{{language}}"
          ></duet-date-picker>

          {% for field in fieldset %}
            {% if forloop.counter > 3 %}
              <div class="date_entry">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>
      </div>
    {% endfor %}

    <div class="content-button">
      <button name="adjust_dates" value="add" class="secondary">
        {{ _("Add another date") }}
      </button>
    </div>

    <div class="content-button">
      <button type="submit">
        {{ _("Next") }}
      </button>
    </div>
  </form>

  <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}
