{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Details of exposure" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'outbreaks:history' %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

  {% if location %}
    <h1>{% trans "Details of exposure" %}</h1>

    <table>
      <caption class="visually-hidden">{% trans "Details of exposure" %}</caption>
      <tbody>
        <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ location.name }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">{% trans "Address" %}</th>
            <td>
                <address>
                    <span> {{ location.address }} </span>
                    <span> {{ location.city }}, {{ location.province }} </span>
                    <span> {{ location.postal_code }} </span>
                </address>
            </td>
            <td>
                <a href="{{ map_link }}" target="_blank">
                    <span>{% trans "Show on map" %}</span>
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">{% trans "Date and time of exposure" %}</th>
            <td>{{ notification.start_date|date:'Y-m-d' }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">{% trans "Date of alert" %}</th>
            <td>{{ notification.created_date|date:'Y-m-d' }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">{% trans "Sender" %}</th>
            <td>
                <span>{{ notification.created_by.name }}</span>
                <span>{{ notification.created_by.email }}</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">{% trans "Severity" %}</th>
            <td>{{ notification.severity }}</td>
            <td></td>
        </tr>
      </tbody>
    </table>

    <br>
    <p>{% trans "Need to add a new exposure for this address?" %}</p>

    <div class="content-button">
        <a href="{% url 'outbreaks:datetime' %}" role="button" draggable="false" class="start with-chevron">{% trans "Add an exposure" %}</a>
    </div>

  {% else %}
    <p>{% trans "Exposure details not found." %}</p>
  {% endif %}

{% endblock %}
