{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Details of place or event" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'outbreaks:search' %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

  {% if location %}
    <h1>{% trans "Details of place or event" %}</h1>

    <dl class="summary-list">
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Name" %}</dt>
            <dd class="summary-list__value">{{ location.name }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Address" %}</dt>
            <dd class="summary-list__value">
                {{ location.address }}<br>
                {{ location.city }}, {{ location.province }}<br>
                {{ location.postal_code }}
            </dd>
            <dd class="summary-list__actions">
                <a href="{{ map_link }}" target="_blank">
                    {% trans "Show on map" %}
                </a>
            </dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Contact name" %}</dt>
            <dd class="summary-list__value">{{ location.contact_name }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Contact email" %}</dt>
            <dd class="summary-list__value">{{ location.contact_email }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Number of prior alerts" %}</dt>
            <dd class="summary-list__value">{{ num_notifications }}</dd>
            <dd class="summary-list__actions"><a href="{% url 'outbreaks:location_history' location.id %}">Show history</a></dd>
        </div>
    </dl>

    <div class="content-button">
        <a href="{% url 'outbreaks:datetime' alert_location %}" role="button" draggable="false" class="start with-chevron">{% trans "Add an exposure" %}</a>
    </div>
  {% else %}
    <p>{% trans "Place not found." %}</p>
  {% endif %}

{% endblock %}
