{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Location profile" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'outbreaks:search' %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

  {% if location %}
    <h1>{% trans "Place profile" %}</h1>

    <dl class="summary-list">
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Name" %}</dt>
            <dd class="summary-list__value">{{ location.name }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Address" %}</dt>
            <dd class="summary-list__value">
                {{ location.address }}<br>
                {{ location.city }}, {{ location.province }}<br>
                {{ location.postal_code }}
            </dd>
            <dd class="summary-list__actions">
                <a href="{{ map_link }}" target="_blank">
                    {% trans "Show on map" %}
                </a>
            </dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Contact email" %}</dt>
            <dd class="summary-list__value">{{ location.contact_email }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Contact phone" %}</dt>
            <dd class="summary-list__value">{{ location.contact_phone }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
        <div class="summary-list__row">
            <dt class="summary-list__key">{% trans "Number of prior notifications" %}</dt>
            <dd class="summary-list__value">{{ num_notifications }}</dd>
            <dd class="summary-list__actions"></dd>
        </div>
    </dl>

  {% else %}
    <p>{% trans "Place not found." %}</p>
  {% endif %}

  {% include "includes/cds_form.html" with submit_text=_("Notify people who were there") %}

{% endblock %}
