{% extends 'base.html' %}
{% load i18n param_replace %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Find QR places and events" %}
{% endblock %}

{% block content %}
  {% include  "includes/flash_messages.html" %}
  <h1>{% trans "Find QR places and events" %}</h1>

  <p>{% trans "Alert people who scanned the QR code during an exposure." %}</p>

  <form action="{% url 'outbreaks:search' %}" method="get" id="form--{{ request.resolver_match.url_name }} search_form">
    {% csrf_token %}

    <div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %} search_bar">
      <div class="fieldWrapper{% if field.errors %} fieldWrapper--has-error{% endif %}">
        <label for="id_search_text">
          <b>{% trans "Search by name or address" %}</b>
        </label>
        <input type="text" name="search_text" size="30" autocomplete="on" id="id_search_text">
        <button type="submit">
          {{ _("Search") }}
        </button>
      </div>
    </div>
  </form>

  {% if object_list %}
    <table class="with-actions">
      <caption class="visually-hidden">{% trans "Available locations" %}</caption>
      <thead>
          <tr>
            <th scope="col">{% trans "Place name" %}</th>
            <th scope="col">{% trans "Address" %}</th>
            <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
        {% for location in object_list %}
          <tr>
            <td>{{ location.name }}</td>
            <td>
              <span> {{ location.address }} </span>
              <span> {{ location.city }}, {{ location.province }} </span>
              <span> {{ location.postal_code }} </span>
            </td>
            <td>
              <a href="{% url 'outbreaks:profile' location.id %}">
                {% trans "Select" %}<span class="visually-hidden">{% trans "location named " %}{{location.name}}</span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; {% trans "first" %}</a>
            <a href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "previous page" %}</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number %}">{% trans "next page" %}</a>
            <a href="?{% param_replace page=page_obj.paginator.num_pages %}">{% trans "last" %} &raquo;</a>
        {% endif %}
      </span>
    </div>

  {% endif %}

  <p><a href="{% url 'outbreaks:history' %}">{% trans "Search alert history." %}</a></p>

  <p>
    <b>{% trans "New or need a refresher?" %}</b><br>
    {% blocktrans %}
      Visit <a href="">Sending QR alerts</a>
    {% endblocktrans %}
  </p>
{% endblock %}
