{% extends 'base.html' %}
{% load i18n param_replace static %}

{% block title %}
  {% if form.errors %}{% trans "Error: " %}{% endif %}
  {% trans "Find QR places and events" %}
{% endblock %}

{% block content %}
  {% include  "includes/flash_messages.html" %}
  <h1>{% trans "Find QR places and events" %}</h1>

  <p>{% trans "Alert people who scanned the QR code during an exposure." %}</p>

  <form action="{% url 'outbreaks:search' %}" method="get" id="form--{{ request.resolver_match.url_name }} search_form"
        class="outbreaks-search">
    {% csrf_token %}

    <div
      class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %} search_bar">
      <div class="fieldWrapper{% if form.visible_fields.0.errors %} fieldWrapper--has-error{% endif %}">
        <label for="id_search_text">
          <b>{% trans "Search by name or address" %}</b>
        </label>
        {% if form.visible_fields.0.errors %}
          <div id="error--{{ form.visible_fields.0.html_name }}"
               class="validation-error">{{ form.visible_fields.0.errors|first }}</div>
          {% else %}
          <span>{% trans 'Enter at least 3 characters' %}</span>
        {% endif %}
        <input type="search" name="search_text" size="30" autocomplete="on" id="id_search_text"
               value="{{ form.visible_fields.0.data }}">
        <button type="submit">
          {{ _("Search") }}
          <img src="{% static 'img/search_24px.svg' %}" alt=""/>
        </button>
      </div>
    </div>
  </form>

  {% if object_list %}
    <b>{{ search_result_count }} {% trans 'results for' %}</b> {{ search_text }}.
    <br>
    <table class="with-actions">
      <caption class="visually-hidden">{% trans "Available locations" %}</caption>
      <thead>
      <tr>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col">{% trans "Address" %}</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for location in object_list %}
        <tr>
          <td>{{ location.name }}</td>
          <td>
            <span> {{ location.address }} </span>
            <span> {{ location.city }}, {{ location.province }} </span>
            <span> {{ location.postal_code }} </span>
          </td>
          <td>
            <a href="{% url 'outbreaks:profile' location.id %}">
              {% trans "Choose" %}<span class="visually-hidden">{% trans "location named " %}{{ location.name }}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">

        <span class="current">
            {{ paging_phrase }}
        </span>

        {% if page_obj.has_previous %}
          <a href="?{% param_replace page=1 %}" class="no-underline-link page-back-link"></a>&nbsp;&nbsp;
          <a href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
        {% endif %}

        {% if page_obj.has_next and page_obj.has_previous %}
          &nbsp;
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?{% param_replace page=page_obj.next_page_number %}">{% trans "Next" %}</a>&nbsp;
          <a href="?{% param_replace page=page_obj.paginator.num_pages %}" class="no-underline-link page-next-link"></a>
        {% endif %}
      </span>
    </div>

  {% else %}
    {% if search_text %}
      <p>
        <b>{% trans 'No results for' %}</b> {{ search_text }}.
      <p>
        {% trans 'Follow local procedures for places or events that do not have QR codes.' %}
      </p>
      </p>
    {% endif %}
  {% endif %}
  <br>
  <p><a href="{% url 'outbreaks:history' %}">{% trans "Search alert history" %}</a></p>
  <p>
    <br>
    <b>{% trans "New or need a refresher?" %}</b><br>
    {% blocktrans %}
      Visit <a href="">Sending QR alerts</a>
    {% endblocktrans %}
  </p>
{% endblock %}