{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Choose guidance" %}
{% endblock %}

{% block content %}
    <div class="content-back-link">
        <a href="{% url 'outbreaks:datetime' alert_location %}" class="chevron-left">{% trans "Back" %}</a>
    </div>

    <p>{% trans "Step 2 of 3" %}</p>

    <h1>{% trans "Choose guidance" %}</h1>

    <p>{% trans "The alert will include this message." %}</p>

    {% include "includes/cds_form.html" with submit_text=_("Next") %}

{% endblock %}
