<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">

    <title>{% block title %}Test{% endblock %}</title>
    <style>
      nav a { display: inline-block; margin-right: 10px; }
    </style>
</head>
<body>
    <div>
        <nav>
            <a href="{% url 'start' %}">Start</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' user.id %}">Profile</a>
                <a href="{% url 'code' user.id %}">Generate Code</a>
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </nav>
         {% if user.is_authenticated %}
            <p>Currently logged in as: {{ user.email }}</p>
         {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>
