body.qrcode {
    header {
        border-bottom: 3px solid black;
    }

    .hero {
        background-color: #FCAF17;
        position: relative;
        .hero-inner {
            @extend %page-container;
            padding: 15px;
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            @include sm {
                flex-direction: row;
                align-items: center;
                padding: 10px 10px 10px 18px;
            }
            h1 {
                flex-basis: 60%;
            }
            .hero-image {
                flex-basis: 40%;
                text-align: right;
                img {
                    margin: 1em 0;
                }
            }
        }
    }

    .back-button {
        margin-top: 1em;
        a {
            margin-left: .5em;
        }
    }

    .messages {
        width: 100%;
        &--container {
            font-weight: normal;
            margin-top: 1.5em;
            ul {
                li {
                    &.success {
                        border-left: 4px solid #008751;
            
                        background: #E6FAE8;
                    }
                }
            }
        }
    }

    .jumbotron {
        margin-top: 2em;
        color: black;
        background-color: #E6FAE8;
        text-align: left;
        width: 100%;
        a {
            display: inline;
        }
        img {
            margin-left: $space-sm;
            vertical-align: middle;
        }

    }

    .reminder {
        svg {
            
        }
        display: flex;
        justify-content: space-between;
        @include sm {
            flex-direction: row;
        }
        flex-direction: column;

    }
    .reminder-text {
        width: 90%;
    }
    .display-poster {
        margin-bottom: $space-lg;
        .display-poster-list {
            margin: $space-sm;
            li {
                margin: $space-sm; 
            }
        }

    }

    label {
        .help-text {
            display: block;
            font-size: 90%;
            line-height: 2em;
        }
    }

    .phone {

        #id_contact-contact_phone_ext {
            width: 30%;
        }
        .phone_field{
            position: absolute;
            top: 5;
        }
        .inactiveLink {
            pointer-events: none;
            cursor: default;
         }
         .ext_button {
            position: relative;
            color: #2B4380;
            left: 70%;
            padding: 0;
            bottom: 60px;
            border: none;
            background: transparent;
            text-decoration: underline;
            -webkit-appearance: none;
            cursor: pointer;
         }
         .ext-div{
            position: relative;
            left: 70%;
            bottom: 103px;
         }
    }
    
    #id_contact-contact_phone{
        width: 60%;
      
    .step-one-info {
        margin-bottom: $space-lg;
    }
}