{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Confirm delete invitation" %}
{% endblock %}


{% block content %}
  {% include  "includes/error_list.html" %}

  <h1>{% trans "Confirm invitation removal" %}</h1>
  <p>{% blocktrans %}Are you sure you want to delete invitation sent to {{ invitation.email }}?{% endblocktrans %}</p>
  <p>{% trans "If you remove their invitation, they will not be able to join the COVID Alert Portal until they are invited back." %}</p>
  {% include "includes/cds_form.html" with submit_text=_("Yes, I am sure") %}
  <div class="content-button" style="margin-top: -40px;"><a class="secondary" href="{% url 'invitation-list' %}" role='button' draggable='false'>{% trans "No, take me back" %}</a></div>

{% endblock %}
