{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Invitation sent"  %}
{% endblock %}

{% block content %}
  <h1>{% blocktrans with email=request.session.invite_email %}Invitation sent to {{ email }}{% endblocktrans %}</h1>
  <p>{% blocktrans %}They will need to check their email and follow instructions to create their account{% endblocktrans %}</p>
  <div class="content-button">
    <a href="{% url 'invite' %}" role='button' draggable='false'>{% trans "Add another account" %}</a>
    <a href="{% url 'invitation_list' %}" class="secondary" role='button' draggable='false'>{% trans "Check invitations" %}</a>
  </div>
{% endblock %}
