{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% if form.errors %}{% trans "Error: "%}{% endif %}
  {% trans "Invitation sent"  %}
{% endblock %}

{% block content %}
  <h1>{% trans "Invitation sent" %}</h1>
  {% include  "includes/flash_messages.html" %}
  <div class="content-button">
    <a href="{% url 'invite' %}" role='button' draggable='false'>{% trans "Add another account" %}</a>
    <a href="{% url 'profiles' %}" class="secondary" role='button' draggable='false'>{% trans "Manage existing accounts" %}</a>
  </div>
{% endblock %}
