{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="big-code{% if with_example %} big-code__with-example-text{% endif %}">
  {% if with_example %}
    <div class="example-text">{% blocktrans %}EXAMPLE ONLY. <br/>NOT A VALID ONE-TIME KEY.{% endblocktrans %}</div>
  {% endif %}
  <code>{{ code }}</code>
  <hr aria-hidden="true"/>
  {% include "includes/phonetic.html" %}
  <hr aria-hidden="true"/>
  {% if with_example %}
    {% blocktrans %}
        <p>The <strong>key expires in 24 hours</strong>.</p>
    {% endblocktrans %}
  {% else %}
    {% include "includes/expires_string.html" %}
  {% endif %}
  <p>{% trans "No new keys after expiry." %}</p>
</div>
