{% load i18n widget_tweaks waffle_tags %}

<form method="post" id="form--{{ request.resolver_match.url_name }}" {% if form_class %}class="{{ form_class }}"{% endif %} >
  {% csrf_token %}

  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  <div class="fieldWrapper--container{% if form.non_field_errors %} fieldWrapper--container--has-error{% endif %}">
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
      <div class="fieldWrapper{% if field.errors %} fieldWrapper--has-error{% endif %}">
          {{ field.label_tag }}
          {% if field.errors %}
            <div id="error--{{ field.html_name }}" class="validation-error">{{ field.errors|first }}</div>
          {% endif %}
          {% if field.help_text %}
            <div class="help--{{ field.html_name }}">{{ field.help_text }}</div>
          {% endif %}
          {% with "aria-describedby:error--"|add:field.html_name as describedBy %}
            {{ field|add_error_attr:describedBy  }}
          {% endwith %}
      </div>
    {% endfor %}
  </div>

  {% if before_submit %}
    <div class="before-submit">
      {{ before_submit }}
    </div>
  {% endif %}

  <div class="content-button">
    <button type="submit">
      {% if submit_text %}
        {{ submit_text }}
      {% else %}
        {% trans "Submit" %}
      {% endif %}
    </button>

  {% switch "BACKUP_CODE" %}
    {% if secondary_action_text %}
      <a href="{% url secondary_action_url %}" class="secondary" role="button" draggable="false">{{ secondary_action_text }}</a>
    {% endif %}
  {% endswitch %}
  </div>

</form>
