{% load i18n %}
{% load static %}
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}

{% timezone "Canada/Eastern" %}
  <span>{% trans "Key expires" %}
    <time id="expiry-datetime" datetime="{{ expiry|date:'c' }}">
      {% if LANGUAGE_CODE == 'en' %}
          {{ expiry|date:"F j" }}
      {% else %}
          {{ expiry|date:"j F" }}
      {% endif %}

      {% trans "at" %}

      {% if LANGUAGE_CODE == 'en' %}
          {{ expiry|date:"f a e" }}
      {% else %}
          {{ expiry|date:"G \h i e" }}
      {% endif %}
    </time>
  </span>
{% endtimezone %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/{{ LANGUAGE_CODE }}-ca.min.js"></script>
{{ LANGUAGE_CODE|json_script:"lang_code" }}
<script src="{% static 'js/time_formatting.js' %}"></script>
