{% load static settings %}
{% load i18n %}

<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li><a href="{% url 'contact:index' %}">{% trans "Contact us" %}</a></li>
                <li><a href="{% url 'privacy' %}">{% trans "Privacy" %}</a></li>
                <li><a href="{% url 'terms' %}">{% trans "Terms of use" %}</a></li>
            </ul>
        </div>
        <div class="canada-wordmark"><img src="{% static 'img/wmms-blk.svg' %}" alt="{% trans 'Symbol of the Government of Canada' %}" /></div>
    </div>
</footer>

<!-- Datepicker (set to last so that it takes precedence) -->
<script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.2.0/dist/duet/duet.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.2.0/dist/duet/duet.js"></script>
