{% load static %}
{% load i18n %}

<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li>{% blocktrans %}<a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert.html" target="_blank">About COVID Alert</a>{% endblocktrans %}</li>
                <li><a href="{% url 'contact:index' %}">{% trans "Contact us" %}</a></li>
                <li><a href="{% url 'privacy' %}">{% trans "Privacy" %}</a></li>
                <li><a href="{% url 'terms' %}">{% trans "Terms of use" %}</a></li>
            </ul>
        </div>
        <div class="canada-wordmark"><img src="{% static 'img/wmms-blk.svg' %}" alt="{% trans 'Symbol of the Government of Canada' %}" /></div>
    </div>
</footer>
