{% load i18n waffle_tags %}

<nav class="nav--main" aria-label="{% trans 'Product navigation' %}">
  <div class="page--container">
    <ul>
      {% if user.is_verified %}
        {% if perms.profiles.can_send_alerts%}
        <li><a {% if request.resolver_match.url_name == 'start' %}class="active"{% endif %} href="{% url 'start' %}">{% trans "Home" %}</a></li>
        {% endif %}
        <li><a {% if request.resolver_match.url_name == 'otk_start' or request.resolver_match.url_name == 'generate_key' or request.resolver_match.url_name == 'key' %}class="active"{% endif %} href="{% url 'otk_start' %}">{% trans "Generate keys" %}</a></li>
      {% endif %}
      {% switch "qr_codes" %}
        {% if perms.profiles.can_send_alerts and user.is_verified %}
          <li><a {% if request.resolver_match.url_name == 'search' or request.resolver_match.url_name == 'history' or request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'details' or request.resolver_match.url_name == 'datetime' or request.resolver_match.url_name == 'severity' or request.resolver_match.url_name == 'confirm' or request.resolver_match.url_name == 'confirmed' %}class="active"{% endif %} href="{% url 'outbreaks:search' %}">{% trans "Send alerts" %}</a></li>
        {% endif %}
      {% endswitch %}
      {% if user.is_admin and user.is_verified %}
        <li><a {% if request.resolver_match.url_name == 'profiles' or request.resolver_match.url_name == 'invite' %}class="active"{% endif %} href="{% url 'profiles' %}">{% trans "Manage team" %}</a></li>
      {% endif %}
      {% if not user.is_verified %}
        <li><a href="{% url 'about:index' %}">{% trans "About the portal" %}</a></li>
        <li><a href="{% url 'support' %}">{% trans "Support" %}</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
