{% load i18n %}

<nav class="nav--main {% if not request.user.is_verified %}anonymous{% endif %}"  aria-label="{% trans 'Product navigation' %}">
  <div class="page--container">
   {% if request.user.is_verified %}
    <ul>
      <li><a {% if request.resolver_match.url_name == 'start' %}class="active"{% endif %} href="{% url 'start' %}">{% trans "Start" %}</a></li>
      <li><a {% if 'about' in request.path %}class="active"{% endif %} href="{% url 'about:index' %}">{% trans "About the portal" %}</a></li>
      {% if user.is_admin %}
        <li><a {% if request.resolver_match.url_name == 'profiles' %}class="active"{% endif %} href="{% url 'profiles' %}">{% trans "Manage team" %}</a></li>
      {% endif %}
      <li><a {% if request.resolver_match.url_name == 'support' %}class="active"{% endif %} href="{% url 'support' %}">{% trans "Support" %}</a></li>
    </ul>
  {% endif %}
  </div>
</nav>
