{% load i18n %}

<nav class="nav--main"  aria-label="{% trans 'Product navigation' %}">
  <div class="page--container">
    <ul>
      {% if user.is_verified %}
        <li><a {% if request.resolver_match.url_name == 'start' or request.resolver_match.url_name == 'generate_key' %}class="active"{% endif %} href="{% url 'start' %}">{% trans "Generate keys" %}</a></li>
      {% endif %}
      <li><a {% if 'about' in request.path %}class="active"{% endif %} href="{% url 'about:index' %}">{% trans "About the portal" %}</a></li>
      {% if user.is_admin and user.is_verified %}
        <li><a {% if request.resolver_match.url_name == 'profiles' %}class="active"{% endif %} href="{% url 'profiles' %}">{% trans "Manage team" %}</a></li>
      {% endif %}
      <li><a {% if request.resolver_match.url_name == 'support' %}class="active"{% endif %} href="{% url 'support' %}">{% trans "Support" %}</a></li>
    </ul>
  </div>
</nav>
