{% load alphabet i18n %}
<div class="phonetic__wrapper">
    <p>
        {% if intro %}
            {{ intro }}
        {% else %}
            {% trans "Read key phonetically to confirm patient understands letters:" %}
        {% endif %}
    </p>
    <div class="phonetic__alphabet">
        <div>
        {% for letter in code %}
            {% if letter == ' ' %}
            </div><div>
            {% else %}
                {% with letter|phonetic as word %}
                    <span>{{ word }}</span>
                {% endwith %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <p>{% trans "Ask patient to read key back to you." %}</p>
</div>