{% load alphabet i18n %}
<div>
    <p>{% blocktrans %}Read key phonetically and ask patient to read it back to you:{% endblocktrans %}</p>
    <div class="phonetic-wrapper">
        <div>
        {% for letter in code %}
            {% if letter == ' ' %}
            </div><div>
            {% else %}
                {% with letter|phonetic as word %}
                    <span>{{ word }}</span>
                {% endwith %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>