{% with id=widget.attrs.id %}
<div {% if id %} id="{{ id }}"{% endif %} class="multiple-choice multiple-choice--radios">
  {% for group, options, index in widget.optgroups %}
    {% if group %}
      <div class="multiple-choice--group">{{ group }}</div>
    {% endif %}
    {% for option in options %}
      <div class="multiple-choice__item">
        <input {% if option.attrs.id %} id="{{ option.attrs.id }}"{% endif %} type="radio" name="{{ option.name }}" value="{{ option.value|stringformat:'s' }}" {% if option.attrs.checked %} checked{% endif %}>
        <label {% if option.attrs.id %} for="{{ option.attrs.id }}"{% endif %}>
          <strong>{{ option.label }}</strong>
          {% if option.attrs.help_text %}
            <span class="help-text">{{ option.attrs.help_text|dict_key:option.value }}</span>
          {% endif %}
        </label>
      </div>
    {% endfor %}
  {% endfor %}
</div>
{% endwith %}