{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Log in to the portal" %}
{% endblock %}

{% block content_class %}row{% endblock %}
{% block content %}
  <div class="column">
    {% include  "includes/nav_about.html" %}
  </div>

  <div class="column column--2-3">
    <h1>{% trans "Logging in" %}</h1>
    <h2>{% trans "Create an account" %}</h2>
    <p>{% trans "If your administrator decides you need a portal account, you’ll get an email invitation. Check your spam folder if you’re expecting an invitation." %}</p>
    <p>{% trans "Follow the directions in the invitation to create your account and get your first log in code." %}</p>
    <h2>{% trans "Log in codes" %}</h2>
    <p>{% trans "The portal texts a code to your mobile phone each time you log in." %}</p>
    <p>{% trans "If you need to change your mobile number, visit" %}  {% if user.id %}<a href="{% url 'user_profile' user.id %}">{% else %}<a href="{% url 'login' %}">{% endif %}{% trans "Manage your account." %}</a></p>
    <h2>{% trans "No mobile phone?" %}</h2>
    <p>{% trans "You can get log in codes by visiting" %}  {% if user.id %}<a href="{% url 'user_profile' user.id %}">{% else %}<a href="{% url 'login' %}">{% endif %}{% trans "Manage your account." %}</a> {% trans "Keep the codes somewhere only you can access." %}</p>
    <p><strong>{% trans "You can use each log in code 1 time only." %}</strong></p>

    <div class="content-next-link">
      <a href="{% url 'about:one_time_keys' %}" class="chevron-right">{% trans "Next:" %} {% trans "One-time keys" %}</a>
    </div>
  </div>
{% endblock %}
