{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Give a key" %}
{% endblock %}

{% block content_class %}row{% endblock %}
{% block content %}
  <div class="column">
    {% include  "includes/nav_about.html" %}
  </div>

  <div class="column column--2-3">
    <h1>{% trans "Give a key" %}</h1>
    <p>{% trans "After you generate a key, the next screen shows a combination of letters and numbers. The screen gives 1 word that you’ll read for each letter. This helps the patient check they heard the correct letter." %}</p>

    <h2>{% trans "Confirm patient understood the key" %}</h2>
    {% with code="AHJ 232 ZWFA" with_example="true" %}
        {% include "includes/big-code.html" %}
    {% endwith %}

    <h3>{% trans "The app guides the patient through the next steps" %}</h3>
    <p>{% trans "First the patient enters the key. Then the app guides them through the steps to notify people of possible exposure." %}

    {% url 'about:help_patient_enter_key' as help_url %}
    {% blocktrans %}
        <p>You can view screenshots from the app with instructions in <a href="{{ help_url }}">Help patient enter key</a>.</p>
    {% endblocktrans %}

    <div class="content-next-link">
      <a href="{% url 'about:help_patient_enter_key' %}" class="chevron-right">{% trans "Next:" %} {% trans "Help patient enter key" %}</a>
    </div>
  </div>
{% endblock %}
