{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Help patient enter key" %}
{% endblock %}

{% block content_class %}row{% endblock %}
{% block content %}
  <div class="column">
    {% include  "includes/nav_about.html" %}
  </div>

  <div class="column column--2-3">
    <h1>{% trans "Help patient enter key" %}</h1>
    <p><strong>{% trans "To enter the key, the phone must be connected to the internet." %}</strong></p>
    <br />
    {% include "includes/detailed_instructions.html" %}
    <div class="content-next-link">
      {% if user.can_send_alerts %}
        <a href="{% url 'about:sending_qr_alerts' %}" class="chevron-right">{% trans "Next:" %} {% trans "Sending alerts" %}</a>
      {% else %}
        <a href="{% url 'about:admin_accounts' %}" class="chevron-right">{% trans "Next:" %} {% trans "Admin accounts" %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
