* {
  box-sizing: border-box;
}

a[href],
area[href],
input,
select textarea,
button,
iframe,
[tabindex],
[contentEditable="true"] {
  &:not([disabled]):focus:not(.autocomplete__option) {
    @include focus();
  }
}

body {
  margin: 0;
  font-size: 1.05em;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.65;

  @include xs {
    font-size: 1.2em;
  }

  @include sm {
    font-size: 1.3em;
  }
}

p,
.multiple-choice__item p,
ol,
ul {
  margin-top: 0;
  margin-bottom: $space-xs;

  @include xs {
    margin-bottom: $space-sm;
  }
}

a,
a:visited,
button.link {
  color: $color-blue-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
#site-name {
  font-family: "Lato", sans-serif;
  line-height: 1.33;
  font-weight: 600;
}

h1 {
  font-size: 2.075em;
}

h2 {
  font-size: 1.44em;
}

h3,
h4,
h5 {
  font-size: 1.2em;
}

%page-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: $space-md;
  padding-right: $space-md;

  @include xl {
    max-width: 1170px;
  }
}

strong.break-line {
  display: block;
  margin: $space-xs 0;
}

main {
  padding-bottom: $space-xxl;

  > div {
    margin-bottom: $space-lg;
  }

  .content--container {
    &:not(.row) {
      @include md {
        width: 90%;
      }
      @include lg {
        width: 80%;
      }
      @include xl {
        width: 70%;
      }

      .content-section {
        margin-top: $space-xxl !important;
      }
    }
  }
}

.container {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

.page--container {
  @extend %page-container;
}

.visually-hidden {
  @include visuallyHidden();
}

.print-only {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;

  @include md {
    flex-direction: row;
  }

  .column {
    flex-basis: 100%;
    flex: 1;

    &.column--2-3 {
      flex: 2;
    }

    h1 {
      margin-top: 0;
    }
  }
}
