body.qrcode {
    header {
        border-bottom: 3px solid black;
    }

    .hero {
        background-color: #FCAF17;
        position: relative;
        .hero-inner {
            @extend %page-container;
            padding: 10px;
            display: flex;
            align-items: center;
            h1 {
                flex-basis: 60%;
            }
            .hero-image {
                flex-basis: 40%;
                text-align: right;
                img {
                    margin: 1em 0;
                }
            }
        }
    }
}