// colours (using 'color' because of CSS conventions)

$color-blue-ultralight: #eff4f9;
$color-blue-light: #b3cae5;
$color-blue: #4e88b9;
$color-blue-medium: #335075;
$color-blue-dark: #284162; /* darker: 00243D */
$color-blue-button: #26374a;
$color-blue-link: #0078fb;
$color-yellow-warning: #ffa54d;
$color-yellow-warning-light: #FFD599;
$color-yellow: #ffbf47;
$color-yellow-light: #fff7e6;
$color-yellow-dark: #8E4400;
$color-white: #ffffff;
$color-black: #000000;
$color-red-light: #f3e9e8;
$color-red: #b1081f;
$color-red-dark: #6a0613;
$color-purple: #7834bc;
$color-grey-light: #d0d7de;
$color-grey: #6f777b;
$color-grey-medium: #585858;
$color-grey-dark: #333333;
$color-grey-footer: #eeeeee;
$color-green-light: #b3dfc0;
$color-green: #00703c;
$color-green-medium: #005a30;
$color-green-dark: #003620;

// spacing units

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;
$space-xxl: 60px;

// other vars
$height-footer: 80px;
$multiple-choice-padding-left: 40px;
