/* Utilities */
@import "./_variables";
@import "./_mixins";

/* App-wide styles */
@import "./_base";

/* Page-specific styles */
@import "./pages/_backup-codes";
@import "./pages/_login";
@import "./pages/_number";
@import "./pages/_outbreaks-datetime";
@import "./pages/_outbreaks-search";
@import "./pages/_covidkey-start";

/* Partials */
@import "./components/_button";
@import "./components/_details";
@import "./components/_footer";
@import "./components/_header";
@import "./components/_jumbotron";
@import "./components/_links";
@import "./components/_lists";
@import "./components/_messages";
@import "./components/_multiple-choice";
@import "./components/_nav";
@import "./components/_otk";
@import "./components/_phonetic";
@import "./components/_skip-link";
@import "./components/summary-list";
@import "./components/_table";
@import "./components/_tag";

@import "./components/forms/_error";
@import "./components/forms/_form";
@import "./components/forms/_help";
@import "./components/forms/_input";
@import "./components/forms/_select";

/* Print styles */
@import "./_print";

/* Announcement styles */
@import "announcements/scss/_announcements";

/* QR Code Registration Site styles */
@import "register/scss/_phase-banner";
@import "register/scss/_custom";
@import "register/scss/_qr-support-page";