main .errorlist {
  &--container {
    padding: $space-sm;
    padding-right: #{$space-xs + $space-sm};
    background: #f3e9e8;
    border-left: 4px solid $color-red;
    margin-top: $space-sm;
  }

  &--heading {
    margin-top: $space-xs;
    margin-bottom: $space-md;
    font-size: 1.17em;
  }
}

main form {
  .fieldWrapper--container--has-error,
  :not(.fieldWrapper--container--has-error) .fieldWrapper--has-error {
    padding-left: $space-md;
    border-left: 5px solid $color-red;
  }

  .fieldWrapper--container--has-warning,
  :not(.fieldWrapper--container--has-warning) .fieldWrapper--has-warning {
    padding-left: $space-md;
    border-left: 5px solid $color-yellow-dark;
  }

  .validation-error {
    color: $color-red;
    font-weight: 700;
  }
}
