main form {
  width: 100%;
  max-width: 440px;
  margin-bottom: $space-xxl;

  + p {
    margin-bottom: $space-xxl;

    &.near-form {
      margin-top: -$space-lg;
    }
  }

  .before-submit {
    margin-top: $space-xxl;
    margin-bottom: $space-md;
  }

  .fieldWrapper {
    margin-bottom: $space-lg;

    > * {
      display: block;
    }

    > input,
    > select,
    > textarea {
      margin-top: 8px;

      &:not([disabled]) {
        &:focus {
          border-radius: 0;
          outline: 3px solid #fd0;
          outline-offset: 0;
          -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
        }
      }

      &[disabled] {
        color: $color-grey;
        background: $color-grey-footer;
        opacity: 1;
      }
    }
  }
}

main td form {
  margin: 0;
  display: inline;
}
