main form {
  width: 100%;
  max-width: 500px;
  margin-bottom: $space-xxl;

  &.small {
    width: 50%;

    @include sm {
      width: 33%;
    }
  }

  &.summary_form {
    max-width: none;
  }

  + p {
    margin-bottom: $space-xxl;

    &.near-form {
      margin-top: -$space-lg;
    }
  }

  .before-submit {
    margin-top: $space-xxl;
    margin-bottom: $space-md;
  }

  .search_form {
    max-width: 550px;
  }

  .search_bar {
    div {
      display: inline-block;
      width: 100%;
    }

    input {
      display: inline-block;
      width: 70%;
    }

    button[type='submit'] {
      display: inline-block;
      vertical-align: baseline;
      padding: 0px 18px;
      margin-top: 0px;
      line-height: inherit;
    }
  }

  .fieldWrapper {
    margin-bottom: $space-lg;

    .date_entry {
      display: inline-block;

      label {
        font-weight: bold;
      }

      input {
        width: 70px;
      }

      #id_year {
        width: 80px;
      }
    }

    > * {
      display: block;
    }

    > input,
    > select,
    > textarea {
      margin-top: 8px;

      &:not([disabled]) {
        &:focus {
          border-radius: 0;
          outline: 3px solid #ffbf47;
          outline-offset: 0;
          -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
        }
      }

      &[disabled] {
        color: $color-grey;
        background: $color-grey-footer;
        opacity: 1;
      }
    }
  }
}

main td form {
  margin: 0;
  display: inline;
}
