main form {
  input, textarea {
    display: block;
    margin: 0;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input {
    height: 40px;
    height: 2.5rem;
  }

  .fieldWrapper--has-error input {
    border: 2px solid $color-red;

    &:focus {
      -webkit-box-shadow: inset 0 0 0 2px $color-red;
      box-shadow: inset 0 0 0 2px $color-red;
    }
  }
}
