main .messages {
  &--container {
    max-width: 450px;
    padding: $space-sm;
    background: rgba(78, 136, 185, 0.1);
    border: 1px solid #4E88B9;
    border-radius: 10px;
    font-weight: bold;
    ul {
      padding-left: 10px;
      list-style-type: none;
      margin-bottom: 0;
    }
  }
}
