name: Build and Push to Container Registries

on:
  push:
    branches: [aws_docker_build]

env:
  GITHUB_SHA: ${{ github.sha }}
  BRANCH: ${{ github.ref }}

jobs:
  build-n-push:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for container to pass Django CI 3.8 Test
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: wait-for-CI-tests
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: test (3.8)
          ref: ${{ github.sha }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        id: aws-covid-portal
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1

      - name: Login to Staging Amazon ECR
        id: login-ecr-covid-portal
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Covid Portal
        env:
          ECR_REGISTRY: ${{ steps.login-ecr-covid-portal.outputs.registry }}
          ECR_REPOSITORY: covid-alert-portal-terraform
        run: |
          docker build \
          -t $ECR_REGISTRY/$ECR_REPOSITORY:$GITHUB_SHA \
          -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
      - name: Push containers to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr-covid-portal.outputs.registry }}
          ECR_REPOSITORY: covid-alert-portal-terraform
        run: |
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$GITHUB_SHA
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
      - name: Logout of Amazon ECR
        if: always()
        run: docker logout ${{ steps.login-ecr-covid-portal.outputs.registry }}